<app-header></app-header>


<div class="container">
    <div class="card-wrapper col-lg-10 col-12 mx-auto py-5">
      <div class="card-background row">
        <div class="card-background-image col-lg-5 col-12 ">
          <div class="text-center big-titles white-colored mt-3">Logo Savvy</div>
          <img src="../../../assets/images/login.svg" alt="" class="img-fluid my-5 img-login d-flex mx-auto ">
        </div>
        <app-spinner
          class="mx-auto my-auto"
          *ngIf="loading">
        </app-spinner>
        <div class=" col-lg-7 col-12 padding-signup " *ngIf="!loading">
          <div class="text-center big-titles mt-3">Sign Up</div>
          <div class="text-center text-size mt-3">You can configure your store after creating your account.</div>
          <form #f="ngForm">
            <label for="name" class="text-size ml-5 mt-3">Name</label>
            <input type="text" id="name" class="input" placeholder="Name">
            <label for="email" class="text-size ml-5 mt-3">Email</label>
            <input type="email" id="email" class="input" placeholder="Email" [ngClass]="invalidEmail? 'red-border': ''" [(ngModel)]="storeOwner.email" name="email" (focus)="onInputFocus($event)">
            <p class="text-size mt-2 red-color" *ngIf="invalidEmail">* {{emailError | titlecase}}</p>
            <label for="password" class="text-size ml-5 mt-3">Password</label>
            <input type="password" id="password" class="input" placeholder="Password" [ngClass]="invalidPassword? 'red-border': ''" [(ngModel)]="storeOwner.password" name="password" (focus)="onInputFocus($event)">
            <p class="text-size mt-2 red-color" *ngIf="invalidPassword">* {{passwordError | titlecase}}</p>
            <div class="text-center mt-3">
              <button  class="button-generic button-blue small-titles " (click)="signUp()" type='submit'>Configure your store</button>
            </div>
          </form>
          <div class="row text-center text-size d-flex justify-content-center">
            <div class="line-login my-3 mr-2"></div>
            Or login with
            <div class="line-login my-3 ml-2"></div>
          </div>
          <div class="row my-3">
            <div class="col-6 ">
              <img src="../../../assets/images/facebook.png" alt="" class="img-fluid  mx-auto sign-in-icon pointer" (click)="signInWithFB()">
            </div>
            <div class="col-6">
              <img src="../../../assets/images/google.png" alt="" class="img-fluid mx-auto sign-in-icon pointer" (click)="signInWithGoogle()">
            </div>
          </div>

        </div>
      </div>
      <div class="text-center text-size  pt-4 "  routerLink='/signin'>
          <div class="text-center text-size dont-have-account " >You have already an account ?</div>
          <div class="text-center text-size mb-2 dont-have-account" >Forgot your password ?</div>
      </div>
    </div>
</div>
