<section id="banner">
  <!--<img src="http://s7d9.scene7.com/is/image/bebe/20160404%2Dlook2" />-->
  <div id="imageContainer">
    <div class="banner-image" [style.background]="'url(\'' + bannerSrc + '\') no-repeat'" [style.background-size]="'cover'">
      <div class="text-over-banner">
        <p class="text-center text-title">{{title | uppercase}}</p>
        <p class="text-center text-under ">{{description}}</p>
        <a class="button-generic button-transparent mt-3">{{mainButton}}</a>
      </div>
    </div>
  </div>
</section>
