.shopping-cart .media-body {
  /* position: relative; */
}
.shopping-cart .position-center-center {
  width: 100%;
  padding: 0 20px;
  text-align: left;
}
.chart-page .payment_steps {
  margin: 30px 0;
  text-align: center;
}
.chart-page .payment_steps i {
  font-size: 24px;
  border: 1px solid #ebebeb;
  height: 73px;
  width: 73px;
  border-radius: 50%;
  line-height: 71px;
  position: relative;
  color: #b8b8b8;
  margin-bottom: 20px;
}
.chart-page .payment_steps h6:before {
  content: "";
  background: #ebebeb;
  height: 18px;
  width: 2px;
  position: absolute;
  top: 85px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}
.chart-page .payment_steps h6 {
  font-size: 12px;
  margin: 20px 0;
  font-weight: normal;
  color: #272727;
}
.chart-page .payment_steps .current i {
  color: #af5875;
}
.chart-page .payment_steps .current h6 {
  color: #af5875;
}
.chart-page .shopping-cart {
  position: relative;
  overflow: hidden;
}
.shopping-cart .item-img {
  width: 170px;
  display: inline-block;
}
.shopping-cart .media-body {
  position: relative;
}
.shopping-cart .price {
  font-size: 18px;
  font-weight: bold;
  z-index: 9;
  color: #2d3a4b;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.shopping-cart .price small {
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}
.shopping-cart .col-sm-6 .position-center-center {
  width: 100%;
  padding: 0 20px;
  text-align: left;
}
.shopping-cart h5 {
  letter-spacing: 2px;
  color: #2d3a4b;
  margin-bottom: 0px;
}
.shopping-cart .bootstrap-select {
  width: 100% !important;
}
.shopping-cart .quinty {
  position: relative;
  padding: 0 15px;
}
.shopping-cart .quinty .btn {
  border: 1px solid #2d3a4b !important;
  color: #2d3a4b !important;
}
.shopping-cart .quinty .bootstrap-select .btn {
  padding: 0px 10px;
  font-size: 12px;
}
.shopping-cart .bootstrap-select.btn-group .dropdown-menu li {
  min-height: inherit;
}
.shopping-cart img {
  width: 100%;
}
.shopping-cart li {
  position: relative;
}
.shopping-cart li input {
  display: inline-block;
  width: 100%;
}
.shopping-cart li {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 12px;
  color: #af5875;
}
.shopping-cart li input {
  border: 1px solid #ebebeb;
  width: 60px;
  font-family: 'Montserrat', sans-serif !important;
  height: 44px;
  float: left;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.shopping-cart li a {
  color: #272727;
  font-size: 16px;
}
.shopping-cart .cart-details {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d5db;
}
.shopping-cart .cart-details li {
  min-height: 150px;
}
.shopping-cart .cart-details h6 {
  font-weight: normal;
  font-size: 12px;
}
.shopping-cart .cart-head {
  display: inline-block;
  width: 100%;
  padding: 0px 0;
  border-bottom: 1px solid #d1d5db;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.shopping-cart .cart-head h6 {
  margin: 0px;
  font-weight: normal;
  font-size: 12px;
}
.shopping-cart .btn-sec {
  display: inline-block;
  width: 100%;
}
.shopping-cart .btn-sec .btn {
  padding: 15px 30px;
  float: left;
  font-size: 12px;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif !important;
}
.shopping-cart .btn-sec .btn i {
  margin-right: 10px;
  font-size: 16px;
}
.shopping-cart .btn.right-btn {
  float: right;
  margin-right: 0px;
}
.shopping-cart .cart-ship-info {
  text-align: left;
  margin-top: 50px;
}
.shopping-cart .cart-ship-info h6 {
  margin-bottom: 60px;
  margin-top: 0px;
  color: #2d3a4b;
  font-size: 20px;
  letter-spacing: 3px;
}
.shopping-cart .cart-ship-info h6:before {
  width: 60px;
  height: 2px;
  background: #2d3a4b;
  border: none;
  content: '';
  display: inline-block;
  position: absolute;
  margin-top: 30px;
}
.shopping-cart .cart-ship-info input {
  border: 1px solid #2d3a4b;
  width: 60px;
  height: 44px;
  float: left;
  width: 100%;
  font-size: 11px;
  padding: 0 10px;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: normal;
  text-align: left;
  margin-top: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.shopping-cart .bootstrap-select .btn {
  margin-top: 10px;
  background: #fff !important;
  border: 1px solid #ebebeb;
  color: #b8b8b8;
  font-size: 10px;
  letter-spacing: 2px;
}
.shopping-cart .order-place input {
  margin: 0px;
  height: auto !important;
}
.shopping-cart .cart-ship-info label {
  font-size: 10px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  font-size: 12px;
  font-weight: normal;
  color: #2d3a4b;
}
.shopping-cart .cart-ship-info .grand-total {
  border: 3px solid #ffe115;
  padding: 15px 30px;
}
.shopping-cart .cart-ship-info .order-detail p {
  font-weight: normal;
  color: #2d3a4b;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
  font-size: 12px;
  margin: 0px;
}
.shopping-cart .grand-total .all-total {
  border-bottom: none !important;
}
.shopping-cart .cart-ship-info .grand-total {
}
.shopping-cart .cart-ship-info .grand-total h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0px;
}
.shopping-cart .cart-ship-info .grand-total h4 span {
  color: #af5875;
}
.shopping-cart .cart-ship-info .grand-total .btn {
  background: #af5875;
  border-color: #af5875;
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
}
.shopping-cart .cart-ship-info .grand-total .btn:hover {
  background: #272727;
}
.shopping-cart .cart-ship-info .grand-total p {
  letter-spacing: 1px;
}
.shopping-cart .grand-total p span {
  float: right;
}
.shopping-cart .checkbox input {
  height: auto;
}
.shopping-cart .checkbox label::before {
  margin-left: 0px;
}
.shopping-cart .order-place {
  border: 3px solid #ffe115;
  padding: 30px;
  display: inline-block;
  width: 100%;
}
.shopping-cart .order-place h5 {
  font-weight: bold;
  color: #af5875;
  margin: 0px;
}
.shopping-cart .order-place .order-detail p {
  font-weight: normal;
  color: #2d3a4b;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
  font-size: 12px;
  margin: 0px;
}
.shopping-cart .all-total {
  font-size: 18px !important;
  font-weight: bold !important;
}
.shopping-cart .order-place .order-detail p span {
  float: right;
}
.shopping-cart .order-place .order-detail {
  margin-bottom: 30px;
}
.shopping-cart .order-place .item-order span {
  color: #af5875;
  float: none;
}
.shopping-cart .order-place .item-order {
  min-height: 100px;
  padding-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid #ebebeb;
}
.shopping-cart .order-place .item-order p {
  text-transform: none;
  font-size: 10px;
  border: none;
  margin: 0px;
  padding: 0px;
  color: #b8b8b8;
  font-weight: normal;
}
.shopping-cart .order-place .pay-meth p {
  color: #b8b8b8;
  font-size: 12px;
  line-height: 18px;
}
.shopping-cart .order-place .pay-meth ul {
  margin-top: 30px;
}
.shopping-cart .order-place .pay-meth ul li {
  display: inline-block;
  width: 100%;
  padding-top: 0px;
}
.shopping-cart .order-place .pay-meth label {
  margin-bottom: 0px;
  font-weight: normal;
  font-size: 12px;
}
.shopping-cart .order-place .pay-meth .color {
  color: #af5875;
}
.shopping-cart .btn {
  font-size: 14px;
  padding: 0px 30px;
}
.shopping-cart .btn:hover {
  background: #ffe115 !important;
}
.small-cart .cart-ship-info form {
  background: #eeeeee;
  padding: 50px;
  display: inline-block;
  width: 100%;
}
.small-cart .cart-ship-info form input {
  width: 70%;
  float: left;
  border-right: 0px;
  margin: 0px;
}
.small-cart .cart-ship-info form button.btn {
  width: 30%;
  height: 44px;
  float: left;
}
.small-cart .coupn-btn {
  margin-top: 30px;
}
.small-cart .coupn-btn .btn {
  background: #eeeeee;
  color: #2d3a4b;
  margin-right: 30px;
}
