/* ***************** SideNav ****************** */
#sidebar-non-active {
  top: 0;
  bottom: 0;
  overflow-y: auto;
  min-width: 80px;
  max-width: 80px;
  min-height: 90vh;
  height: auto;
  background: var(--light-black-color);
  color: #fff;
  transition: all 0.3s;
}

#sidebar-non-active ul p {
  color: #fff;
  padding: 10px;
  padding-bottom: 0 !important;
}

#sidebar-non-active ul li a {
  padding: 20px;
  display: block;
}

#sidebar-non-active ul li a:hover {
  color: var(--white-color);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

#sidebar-non-active ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: var(--light-black-color);
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.nav-link-sidebar {
  text-decoration: none !important;
  color: white;
  transition: all 200ms linear;
  margin-top: -5px
}

.child-elem {
  padding-left: 60px !important;
}

.sidenav-elem {
  width: 90%;
  margin: auto;
  border-top: solid 2px var(--white-color);;
}

#iframe {
  right: 0;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 567px){
  .margin-iframe {
    margin-top: 44.25px;
  }
}

/***************** New sidebar *********************/
::ng-deep aside {
  background-color: #2D3438;
  padding: 2em 1em;
}

:host >>> .ng-sidebar {
  max-width: 280px;
  min-width: 90px;
  overflow-y: hidden;
}

.toggle-mobile {
  background-color: var(--black-color);
  color: #ffffff;
}
