<a data-toggle="modal" (click)="open(content)" class="button-generic button-white-border-blue detail-button">Details</a>


<ng-template #content let-modal class="order-detail-modal">
  <div class="modal-header">
    <h5 class="modal-title my-auto" id="exampleModalLabel">Order ID: {{rowData._id}} </h5>
    <button type="button" id="close-modal" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="close-x">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
      <div class="row">
        <div class="col-6">
          <p class="small-titles font-weight-lighter">Product Name: </p>
          <p class="big-titles">{{rowData.productName}}</p>
        </div>
        <div class="col-6">
          <p class="small-titles font-weight-lighter">Price: </p>
          <p class="big-titles color-blue">{{rowData.price}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class="small-titles font-weight-lighter">Stock: </p>
          <p>{{rowData.quantity}}</p>

        </div>
        <div class="col-6">
          <p class="small-titles font-weight-lighter">Status: </p>
          <div [innerHTML]="rowData.description"></div>
          <p>Available</p>
        </div>
      </div>
      <div class="text-center big-titles my-3 pt-5 mx-auto border-top">Product Images</div>
      <div *ngFor="let img of rowData.imgs">
        <img class='img-fluid product-image-table mx-1 mt-3' [src]="img">

      </div>

      <div class="mt-3">
        <div>
          <a class="button-generic button-edit py-2 mr-2 text-size" (click)="onEditSelect()"><i id="edit-icon" class="fa fa-edit"></i> Edit</a>
          <a class="button-generic button-delete py-2 text-size" (click)="onDelete()"><i id="delete-icon" class="fa fa-trash-alt"></i> Delete</a>
        </div>
      </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="text-size button-generic button-white-border-blue" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

