:host /deep/ ng2-smart-table table {
  margin-bottom: 20px;
}

.shadow {
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3) !important;
}

:host /deep/ ng2-smart-table th a {
  text-decoration: none;
  text-underline: none !important;
  font-size: var(--text-desktop) !important;
  color: var(--light-black-color);
}

@media screen and (max-width: 1024px) {
  :host /deep/ ng2-smart-table th a {
    font-size: var(--text-tablet) !important;
  }
}

/* ***************** Font size on mobile screen ****************** */
@media screen and (max-width: 768px) {
  :host /deep/ ng2-smart-table th a {
    font-size: var(--text-mobile) !important;
  }
}

:host /deep/ ng2-smart-table .icon-edit {
  color: black !important;
}

:host /deep/ ng2-smart-table .ng2-smart-actions {
  width: 50px !important;
}

:host /deep/ ng2-smart-table .icon-trash-alt {
  color: #c21400 !important;
}

:host /deep/ ng2-smart-table .icon-check {
  color: #179203 !important;
}

:host /deep/ ng2-smart-table .icon-window-close {
  color: var(--dark-blue-color) !important;
}
:host /deep/ ng2-smart-table .icon-plus {
  color: #179203 !important;
  display: none;
}
:host /deep/ ng2-smart-table input {
  margin-bottom: 30px !important;
  border: solid 1px rgba(45, 52, 56, 0.35);
  width: 90%;
  height: 60%;
  padding: 5px 15px;
  border-radius: 7px;
  transition: .4s transform ease-in-out;
  font-size: var(--text-desktop);
}

:host /deep/ ng2-smart-table input:focus {
  border: solid 2px var(--blue-color);
  transition: .4s transform ease-in-out;
  box-shadow: 0 0 7px rgba(34, 101, 178, 0.5);
}

:host /deep/ ng2-smart-table input::placeholder {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.2);
;
}

:host /deep/ ng2-smart-table tr {
}

:host /deep/ ng2-smart-table tr {
  border-bottom: 1px solid #ccc;
}

:host /deep/ ng2-smart-table tr.ng2-smart-titles {
  border: none !important;
}

:host /deep/ ng2-smart-table tr.ng2-smart-titles:hover {
  background: rgba(242,242,242, 0.7) !important;
}

:host /deep/ ng2-smart-table th.details {
  display: none !important;
}

.other-show {
  display: none;
}

/* ***************** Smart Table on tablet screen ****************** */
@media screen and (max-width: 1024px) {
  .other-show {
    display: block;
  }
  .web-show {
    display: none;
  }
}

/* ***************** Smart Table on mobile screen ****************** */
@media screen and (max-width: 768px) {
  .other-show {
    display: block;
    /*display: none !important;*/
  }
  .web-show {
    display: none;
  }
}

:host /deep/ ng2-smart-table tr.selected {
  background: #F8F8F8 !important;
}

:host /deep/ ng2-smart-table tr:hover {
  transition: 0.3s ease-in-out all !important;
  background: rgba(242,242,242, 0.7) !important;
}

:host /deep/ ng2-smart-table tr.ng2-smart-filters {
  border: none !important;
}

:host /deep/ ng2-smart-table tr.ng2-smart-filters:hover {
  background: rgba(242,242,242, 0.7) !important;
}

:host /deep/ ng2-smart-table ng2-smart-table-pager {
  display: block !important;
}

:host /deep/ .ng2-smart-page-item .page-link{
  margin-left: 5px !important;
  margin-right: 5px !important;
  border-radius: 10px !important;
  background-color: var(--white-color) !important;
}

:host /deep/ .active .ng2-smart-page-link{
  background-color: var(--blue-color) !important;
}

:host /deep/ a:hover {
  text-decoration: none !important;
}

:host /deep/ .product-image-table {
  border-radius: 10px !important;
  width: 30px !important;
  height: 30px !important;
}

:host /deep/ input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin:  auto auto !important;
}

:host /deep/ .product-image-table {
  transition: 0.5s;
  border-radius: 5px !important;
}

:host /deep/ .product-image-table:hover {
  transform: scale(5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) !important;
}

@media screen and (max-width: 990px) {
  :host /deep/ .product-image-table:hover {
    transform: scale(3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) !important;
  }

}
