<div *ngIf="products.length > 0">

<div id="sidebar-next">
  <div class="container web-show">
    <div class="big-titles my-3 text-center">Enjoy the flexibility in customizing your products</div>
    <div class="text-size mb-3 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam delectus dolorum eligendi esse est fugiat id libero minima non optio possimus quaerat quo recusandae rerum unde, vitae voluptatibus.</div>
    <div class="my-5 mx-auto px-5 py-3 table-shadow ">
      <ng2-smart-table class="text-size text-center"
                       [settings]="settings"
                       [source]="products"
                       (userRowSelect)="onRowSelect($event)"
                       (deleteConfirm)="onDeleteConfirm($event)"
                       (custom)="onEditSelect($event)"
      ></ng2-smart-table>
    </div>
  </div>
  <div class="other-show">
    <div class="my-5 px-2 py-3 table-shadow">
      <div class="big-titles my-3 text-center">Enjoy the flexibility in customizing your products</div>
      <div class="text-size mb-3 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam delectus dolorum eligendi esse est fugiat id libero minima non optio possimus quaerat quo recusandae rerum unde, vitae voluptatibus.</div>
      <ng2-smart-table class="text-size text-center"
                       [settings]="settingsMobile"
                       [source]="products"
                       (userRowSelect)="onRowSelect($event)"
      ></ng2-smart-table>
    </div>
  </div>


</div>
</div>
