<div  id="sidebar-next">
  <div class="container ">
    <div class="my-5 mx-auto px-5 py-3 shadow" *ngIf="windowWidth >= 1024">
      <ng2-smart-table class="text-size text-center"
                       [settings]="settings "
                       [source]="data"
                       (deleteConfirm)="onDeleteConfirm($event)"
      ></ng2-smart-table>

    </div>
  </div>
  <div *ngIf="windowWidth < 1024">
    <div class="my-5 px-5 py-3 shadow">
      <ng2-smart-table class="text-size text-center" [settings]="settingsMobile" [source]="data"></ng2-smart-table>
    </div>
  </div>
</div>


