<div>
  <div class="container text-center ">
    <div class="big-titles mb-3">Manage your orders</div>
    <div class="text-size mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam delectus dolorum eligendi esse est fugiat id libero minima non optio possimus quaerat quo recusandae rerum unde, vitae voluptatibus.</div>

    <div class="row mt-5">
      <div class="col d-flex justify-content-center">
        <a (click)="onDeleteMany()" [ngClass]="{'delete-many-disabled':!showDeleteManyButton}" class="mr-5 float-right py-2 button-generic button-delete text-size"><i id="delete-icon" class="fa fa-trash-alt"></i> Delete Selected</a>
      </div>
    </div>
    <div class="my-5 mx-auto px-5 py-3 shadow" *ngIf="windowWidth >= 1024">
      <ng2-smart-table class="text-size text-center"
                       *ngIf="orders.length > 0"
                       [settings]="settings"
                       [source]="orders"
                       (deleteConfirm)="onDeleteOne($event)"
                       (userRowSelect)="onRowSelect($event)"
      ></ng2-smart-table>
    </div>
    <div *ngIf="windowWidth < 1024">
      <div class="my-5 px-2 py-3 shadow" >
        <ng2-smart-table class="text-size text-center"
                         *ngIf="orders.length > 0"
                         [settings]="settingsMobile"
                         [source]="orders">
        </ng2-smart-table>
      </div>
    </div>
  </div>
</div>
