<!-- social Media -->
<div class="row mt-3">
  <p class=" container big-titles text-center">
    Empower your Social Media presence
  </p>
  <br>
  <p class=' container text-size text-center'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis numquam deleniti excepturi cum laudantium in, quasi
    cumque, inventore illo, quas modi incidunt ad reiciendis atque eius ex voluptas blanditiis quod!
  </p>
</div>

<div class="row px-4 py-4 ">
  <div class="col-md-6 col-12">
    <img class='img-fluid' src="../../../assets/images/social-media.png" alt="">
  </div>
  <div class="col-md-6 col-12 pt-5 mt-5 pr-5">
    <div class='container'>
      <p class='big-titles'> lorem Ipsum </p>
      <p class="text-size"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem facere minus aliquid sed
        quaerat possimus voluptates ipsam quae deserunt modi tenetur in dolor vero commodi odio, repellat temporibus
        fuga explicabo?</p>
    </div>
    <div class='container'>
      <p class='big-titles'> lorem Ipsum </p>
      <p class="text-size"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem facere minus aliquid sed
        quaerat possimus voluptates ipsam quae deserunt modi tenetur in dolor vero commodi odio, repellat temporibus
        fuga explicabo?</p>
    </div>
    <div class='container'>
      <p class='big-titles'> lorem Ipsum </p>
      <p class="text-size"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem facere minus aliquid sed
        quaerat possimus voluptates ipsam quae deserunt modi tenetur in dolor vero commodi odio, repellat temporibus
        fuga explicabo?</p>
    </div>
    <div>
      <button class='btn btn-block btn-facebook text-size'><i class="fab fa-facebook facebook-icon"
                                                              aria-hidden="true"></i> link to facebook
      </button>
      <button class='btn btn-block btn-instagram text-size'><i class="fab fa-instagram instagram-icon"
                                                               aria-hidden="true"></i> link to instagram
      </button>
    </div>
  </div>
</div>
