<!-- Sidebar -->
<div id="sidebar-header">
  <form (submit)="onSubmit()" [formGroup]="headerForm">
    <ul class="list-unstyled components text-size">
      <li class="sidenav-elem">
        <a class="cursor-pointer my-4 py-3 px-1 back-button nav-link-sidebar" routerLink="/store">
          <i class="fa fa-chevron-left"></i>
          <span class="ml-3">Edit your store</span>
        </a>
        <a class="nav-link-sidebar mt-1 big-titles">
          <i class="fas fa-heading mr-3"></i> Header
        </a>
        <p>Lorem ipsum dolor sit amet!</p>
        <div>
          <div class="my-3">
            <label class="d-block">Big Title</label>
            <input
              placeholder="title"
              class='d-block sidenav-input-item text-size ml-1 px-3 py-1'
              type='text'
              formControlName="title"
              value="{{store.template.header.title}}"
            >
          </div>
          <div class="my-3">
            <label class="d-block">Description</label>
            <input
              placeholder="description"
              class='d-block sidenav-input-item text-size ml-1 px-3 py-1'
              style="height: 100px;"
              type='text'
              formControlName="description"
              value="{{store.template.header.description}}"
            >
          </div>
          <div class="my-3">
            <label class="d-block">Main Button</label>
            <input
              placeholder="main button"
              class='d-block sidenav-input-item text-size ml-1 px-3 py-1'
              type='text'
              formControlName="mainButton"
              value="{{store.template.header.mainButton}}"
            >
          </div>
          <div class="my-3">
            <label> Background </label>
            <div class="background">
              <input
                accept="image/jpg, image/jpeg"
                class="fileInput"
                name="img"
                type="file"
                (change)="onFileChanged($event)"
              >
              <button class="img-fluid mb-3 mt-2 img-product">
                <img alt="" class="image" [src]="imgSrc">
                <img alt="" class='ml-6 upload-image ' src="../../../assets/images/upload-image.png">
              </button>
            </div>
            <small>*Img resolution should be <b>1919 * 1055</b></small>
            <div class="my-3">
              <label class="mb-2">choose pictures from here</label>
              <small><a class="nav-link-sidebar" href="https://pixabay.com/fr/photos/search/nature/?min_width=1919&min_height=1055&orientation=horizontal#" target="_blank">Pixabay</a></small>
              <small><a class="nav-link-sidebar" href="https://www.canva.com/photos/free/" target="_blank">Canva</a></small>
              <small><a class="nav-link-sidebar" href="https://unsplash.com/s/photos/picture?orientation=landscape" target="_blank">Unsplash</a></small>
              <small><a class="nav-link-sidebar" href="https://fr.freepik.com/search?dates=any&format=search&page=1&selection=1&sort=popular&type=photo" target="_blank">Freepik</a></small>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="text-center my-5">
      <button class="button-generic button-black text-size mr-2" type="submit">Save</button>
      <button class="button-generic button-black text-size">Reset</button>
    </div>
  </form>
</div>
