<!-- Mobile App -->
<div id="sidebar-next" class="container-fluid sidenav-next">
    <div class="container-fluid text-center mt-5">
        <div class="big-titles mb-3">Manage your store through your phone</div>
        <div class="text-size mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam delectus dolorum eligendi esse est fugiat id libero minima non optio possimus quaerat quo recusandae rerum unde, vitae voluptatibus.</div>
        <img src="../../../assets/images/mobile-app.png" class="img-fluid mb-3 d-block container-fluid contact-image">
        <a class="col-3 button-generic button-blue big-titles">Download App</a>
    </div>
</div>
