<!-- Mobile App -->
<div id="sidebar-next" class="container sidenav-next">
    <div class="container text-center mt-5">
        <div class="big-titles mb-3">Manage your store from everywhere</div>
        <div class="text-size mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam delectus dolorum eligendi esse est fugiat id libero minima non optio possimus quaerat quo recusandae rerum unde, vitae voluptatibus.</div>
        <img src="../../../assets/images/clients.png" class="img-fluid mb-3 d-block container contact-image">
        <a class="button-generic button-blue text-size">Download App</a>
    </div>
</div>