<div class="content">
  <!-- card -->
  <div class="card" routerLink="/dashboard/sales/clients">

    <div class="icon">
      <i class="fas fa-users md-36 fa-2x"></i>
    </div>
    <p class="title">Clients</p>
    <h1 id="clients-number" class="counter-number mt-1">0</h1>
    <p class="text">Click to see all your clients.</p>

  </div>
  <!-- end card -->
  <!-- card -->
  <div class="card" routerLink="/dashboard/sales/orders">

    <div class="icon">
      <i class="fas fa-list-alt md-36 fa-2x"></i>
    </div>
    <p class="title">Orders</p>
    <p id="orders-number" class="counter-number">0</p>

    <p class="text">Check all your Orders.</p>

  </div>
  <!-- end card -->
  <!-- card -->
  <div class="card" routerLink="/dashboard/products">

    <div class="icon">
      <i class="fas fa-shopping-bag md-36 fa-2x"></i>
    </div>
    <p class="title">Products</p>
    <p id="products-number" class="counter-number">0</p>
    <p class="text">Add or change your Products.</p>

  </div>
  <!-- end card -->
</div>


<!--********************** Popular Product ********************-->

<div class="content-popular">
  <div class="card-popular transition-popular" *ngIf="!isLoading">
    <h2 class="transition-popular">{{popularProduct.name}}</h2>
    <p>{{popularProduct.description}}</p>
    <div class="card_circle transition-popular"
         [ngStyle]="{'background' : popularProduct ? 'url(' + popularProduct.imgs[0]+ ') no-repeat center ' : null}"></div>
    <div class="bought-prod">Most Bought Product</div>

  </div>
  <!--********************** Preview Template ********************-->
  <div class="card" style="height: 300px; max-width: 592px" *ngIf="!isLoading">
    <iframe src="http://store.webipie.com:4200/"
            class="iframe-home"
            frameborder="0" width="550px" height="250px"></iframe>
    <div class="bought-prod" routerLink="/store">edit store</div>
  </div>

  <!-- *******************cool-carousel-instructions *******************-->
  <div class="card-movie-wrapper card-movie-wrapper--centered">
    <div class="card-movie-carousel">       
       
      <div class="card-movie card-movie--light card-movie--looper card-movie--active">          
        <div class="card-movie__content">          
          <div class="card-movie__title">Looper</div>          
          <div class="card-movie__details">          
            <span class="card-movie__details-item">2012</span>          
            <span class="card-movie__details-item">119 mins</span>          
            <ul class="card-movie__details-item card-movie__details-list">
              <li>Action</li>
              <li>Crime</li>
              <li>Sci-fi</li>
            </ul>          
          </div>
          <!-- /.card-movie__details -->
  
          <div class="card-movie__description">          
            <p>In 2074, when the mob wants to get rid of someone, the target is sent into the past, where a hired gun awaits&nbsp;-&nbsp;someone like Joe.</p>          
          </div>
          <!-- /.card-movie__description -->          
        </div>
        <!-- /.card-movie__content -->          
        <div class="card-movie__rating">7.5</div>          
        <div class="card-movie__player" data-trailer="5kGFyVKmqA0">          
        </div>
        <!-- /.card-movie__player -->          
      </div>
      <!-- /.card-movie card-movie--looper -->
  
      <div class="card-movie card-movie--dark card-movie--tron">      
        <div class="card-movie__content">     
          <div class="card-movie__title">Tron: Legacy</div>      
          <div class="card-movie__details">      
            <span class="card-movie__details-item">2010</span>      
            <span class="card-movie__details-item">125 mins</span>     
            <ul class="card-movie__details-item card-movie__details-list">
              <li>Action</li>
              <li>Adventure</li>
              <li>Fantasy</li>
              <li>Sci-fi</li>
            </ul>      
          </div>
          <!-- /.card-movie__details -->  
          <div class="card-movie__description">
            <p>The son of a virtual world designer goes looking for his father and ends up inside the digital world that his father designed. He meets his father's corrupted creation and a unique ally who was born inside the digital world.</p>
          </div>
          <!-- /.card-movie__description -->
        </div>
        <!-- /.card-movie__content -->
        <div class="card-movie__rating">6.8</div>
        <div class="card-movie__player" data-trailer="L9szn1QQfas">
        </div>
        <!-- /.card-movie__player -->
      </div>
      <!-- /.card-movie card-movie--tron -->
    </div>
  </div>
</div>


