/*********** Add / Edit Product *************/
.upload-images {
  border-radius: 10px;
  box-shadow: 0 3px 19px rgba(0, 0, 0, 0.1);
  /* display: flex; */
  background: white;
}

.img-product {
  border-radius: 10px;
  min-width: max-content;
  height: 97%;
  border: none;
}

.add-photo-button {
  border: dashed 2px var(--blue-color);
  color: var(--blue-color);
  border-radius: 7px;
  background-color: white;
  /*background-color: var(--blue-color);*/
  box-shadow: 2px 2px 7px rgba(1, 1, 1, 0.4);
}

#blue-color {
  color: var(--blue-color) !important;
}

.width-100 {
  width: 100% !important;
}

.product-input {
  border: solid 1px rgba(45, 52, 56, 0.23);
  width: 90%;
  height: 90%;
  padding: 5px 15px;
  border-radius: 7px;
  transition: .3s all ease-in-out;
  font-size: var(--text-desktop);
}

.product-input:focus {
  border: solid 1px var(--blue-color);
  transition: .3s all ease-in-out;
  box-shadow: 0 0 13px rgba(34, 101, 178, 0.2);
}

.description-area {
  border: solid 1px rgba(45, 52, 56, 0.35);
  width: 90%;
  padding: 5px 15px;
  border-radius: 12px;
  transition: .4s transform ease-in-out;
  font-size: var(--text-desktop);
}

.form-button {
  margin: 10px 0 0 0;
  font-weight: lighter !important;
}

.fileInput {
  cursor: pointer;
  height: 100%;
  position:absolute;
  top: 0;
  right: 0;
  z-index: 99;
  /*This makes the button huge. If you want a bigger button, increase the font size*/
  /* font-size:50px; */
  /*Opacity settings for all browsers*/
  opacity: 0;
  -moz-opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.button-delete {
  background: #9a0017;
  color: var(--white-color);
  transition: all 200ms ease-in-out;
}

#delete-icon {
  color: var(--white-color);
}

.button-delete:hover {
  background: var(--white-color);
  color: #9a0017;
  border: solid 1px #9a0017;
  transition: all 200ms ease-in-out;
}

.button-delete:hover #delete-icon {
  color: #9a0017;
}





#wrapper{
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor: pointer;
}
.my-super-cool-btn{
  position:relative;
  text-decoration:none;
  color: #2265B2;
  letter-spacing:1px;
  font-size:1.3rem;
  font-weight: bold;
  box-sizing:border-box;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);

}
.my-super-cool-btn span{
  position:relative;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  width:140px;
  height:140px;
}

@media screen and (max-width: 990px){
  .my-super-cool-btn span{
    width:130px;
    height:130px;
  }
}
@media screen and (max-width: 560px){
  .my-super-cool-btn span{
    width:140px;
    height:140px;
  }
}
.my-super-cool-btn span:before{
  content:'';
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  border-radius:100%;
  border:7px solid #2265B2;
  box-sizing:border-box;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.my-super-cool-btn:hover{
  font-size:1rem;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
}

.my-super-cool-btn:hover span:before{
  font-size:1rem;
  transform:scale(0.8);
  box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.my-super-cool-btn .dots-container{
  opacity:0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn .dot{
  width:8px;
  height:8px;
  display:block;
  background-color:#2265B2;
  border-radius:100%;
  position:absolute;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
}
.my-super-cool-btn .dot:nth-child(1){
  top:50px;
  left:50px;
  transform:rotate(-140deg);
  animation: swag1-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn .dot:nth-child(2){
  top:50px;
  right:50px;
  transform:rotate(140deg);
  animation: swag2-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn .dot:nth-child(3){
  bottom:50px;
  left:50px;
  transform:rotate(140deg);
  animation: swag3-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn .dot:nth-child(4){
  bottom:50px;
  right:50px;
  transform:rotate(-140deg);
  animation: swag4-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn:hover .dot:nth-child(1){
  animation: swag1 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(2){
  animation: swag2 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(3){
  animation: swag3 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(4){
  animation: swag4 0.3s;
  animation-fill-mode: forwards;
}
@keyframes intro {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes swag1 {
  0% {
    top:50px;
    left:50px;
    width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
    top:20px;
    left:20px;
    width:8px;
    opacity:1;
  }
}
@keyframes swag1-out {
  0% {
    top:20px;
    left:20px;
    width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
    top:50px;
    left:50px;
    width:8px;
    opacity:0;
  }
}
@keyframes swag2 {
  0% {
    top:50px;
    right:50px;
    width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
    top:20px;
    right:20px;
    width:8px;
    opacity:1;
  }
}
@keyframes swag2-out {
  0% {
    top:20px;
    right:20px;
    width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
    top:50px;
    right:50px;
    width:8px;
    opacity:0;
  }
}
@keyframes swag3 {
  0% {
    bottom:50px;
    left:50px;
    width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
    bottom:20px;
    left:20px;
    width:8px;
    opacity:1;
  }
}
@keyframes swag3-out {
  0% {
    bottom:20px;
    left:20px;
    width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
    bottom:50px;
    left:50px;
    width:8px;
    opacity:0;
  }
}
@keyframes swag4 {
  0% {
    bottom:50px;
    right:50px;
    width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
    bottom:20px;
    right:20px;
    width:8px;
    opacity:1;
  }
}
@keyframes swag4-out {
  0% {
    bottom:20px;
    right:20px;
    width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
    bottom:50px;
    right:50px;
    width:8px;
    opacity:0;
  }
}
