<!-- edit or add product -->
<div class="sales-header mt-3">
  <h1 class="big-titles text-center mb-3">{{editAddPage}} One Product </h1>
</div>

<h6 id="myCheck"></h6>
<form (submit)="onSubmit()" [formGroup]="productForm">
  <div class="margin-top" [ngClass]="{'d-flex' : windwosWidth > 990}">
    <div class="col-lg-8 col-12 mt-5 mb-5">
      <div class="container upload-images product-description py-5">
        <div class="col-12 mb-5" style="padding: 0">
          <div>
            <div class="d-flex upload-images" style="  text-align: -webkit-center; border: 2px solid rgba(45,52,56,0.3); padding: 20px 0;">
              <div>
                <input
                  (change)="onImagePicked($event)"
                  id="hiddenImageInput"
                  accept="image/jpg,image/jpeg,image/png,image/tiff,image/tif,image/bmp"
                  class="form-control fileInput" style="display: none"
                  multiple
                  name="imgs" type="file"/>
                <!--            *********************-->
                <div id="wrapper" class="my-2 mx-1" (click)="clickAddPhotos();">
                  <a class="my-super-cool-btn">
                    <div class="dots-container">
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                      <div class="dot"></div>
                    </div>
                    <span>
                 <div class="text-center">
                   <i class="fas fa-arrow-circle-up fa-2x"></i>
                    <br>
                   Upload
                   <br>
                   Photos
                 </div>
                </span>
                  </a>
                </div>

              </div>
              <div class='col-md-9 col-8 mt-3'>

                <!--Carousel Wrapper-->
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                  <!--Slides-->
                  <div class="carousel-inner" role="listbox">
                    <div class=" d-lg-none" *ngIf="windwosWidth <= 991">
                      <!--First slide-->
                      <div *ngFor="let image of imageObject; let i = index;"
                           [ngClass]="{'active' : i === 0}"
                           class="carousel-item " id="img-mobile-{{i}}">

                        <div class="row">
                          <div class="col-lg-4">
                            <div class="card mb-2">
                              <div class="my-img-container">
                                <img class="card-img-top my-auto" [src]="image.image"
                                     [class.blurImage]="loading"
                                     alt="Card image cap">
                                <div *ngIf="loading" class="loader"></div>
                                <div class="card-body">
                                  <a class="btn button-delete" (click)="deletePhoto(0, i)">Delete</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <!--/.First slide-->

                    </div>
                    <div class="d-none d-lg-block" *ngIf="windwosWidth > 991">
                      <!--First slide-->
                      <div *ngFor="let imageArr of imageObjectToShow; let i = index;"
                           [ngClass]="{'active' : i === 0}" id="img-desktop-{{i}}"
                           class="carousel-item ">

                        <div class="row">
                          <div *ngFor="let image of imageArr; let j = index" class="col-lg-4">
                            <div class="card mb-2">
                              <img class="card-img-top my-auto" [src]="image.image"
                                   [class.blurImage]="loading"
                                   alt="Card image cap">
                              <div *ngIf="loading" class="loader"></div>
                              <div class="card-body">
                                <a class="btn button-delete" (click)="deletePhoto(i, j)">Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <!--/.First slide-->

                    </div>
                  </div>
                  <!--/.Slides-->
                  <div class="controls-top" *ngIf="imageObject.length">
                    <a style="color: #2d3438" class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-circle-left fa-3x mx-4 my-2"></i></a>
                    <a style="color: #2d3438" class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-circle-right fa-3x mx-4 my-2"></i></a>
                  </div>
                  <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
              </div>

            </div>
          </div>
        </div>
        <p *ngIf="imageObject.length <= 0 && imagesTouched" class="text-danger font-weight-bold text-uppercase">
          you need to upload at least one picture</p>

        <div class="row">
          <div class="col-12 mt-3">
            <div class="col-12">
              <label class="text-size pl-2">Description</label>
              <p class="text-danger font-weight-bold text-uppercase"
                 *ngIf="(productFormControl.description.touched) && productFormControl.description.errors?.required">
                Description is required
              </p>
            </div>
            <div class="col-12">
              <quill-editor formControlName="description" [modules]="config" [ngModel]="singleProduct.description"></quill-editor>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-12 mt-5 mb-5">
      <div class="row upload-images mr-1 px-3 py-4 mx-auto mb-3">
        <div class="col-12">
          <label class="text-size pl-2">Name</label>
          <p class="text-danger font-weight-bold text-uppercase"
             *ngIf="(productFormControl.name.touched) && productFormControl.name.errors?.required">
            Name is required
          </p>
        </div>
        <div class="col-12 mb-3">
          <input
            [ngModel]="singleProduct.name"
            class="text-size product-input"
            formControlName="name" type="text">
        </div>
        <div class="col-12">
          <label class="text-size pl-2">Quantity</label>
          <p class="text-danger font-weight-bold text-uppercase"
             *ngIf="(productFormControl.quantity.touched) && productFormControl.quantity.errors?.required">
            Quantity is required
          </p>
        </div>
        <div class="col-12 mb-3">
          <input
            [ngModel]="singleProduct.quantity"
            style="width: 90% !important;"
            class="width-100 text-size product-input"
            formControlName="quantity"
            type="number"
            oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
        </div>
        <div class="col-12">
          <label class="text-size pl-2">Price</label>
          <p class="text-danger font-weight-bold text-uppercase"
             *ngIf="(productFormControl.price.touched) && productFormControl.price.errors?.required">
            Price is required
          </p>
        </div>
        <div class="col-12 mb-3">
          <input
            [ngModel]="singleProduct.price"
            class="text-size product-input"
            formControlName="price"
            min="0" type="number"
            oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
        </div>
        <div class="col-12">
          <label class="text-size pl-2">Status</label>
        </div>
        <div class="col-12">
          <select [(ngModel)]="singleProduct.status" formControlName="status" class="text-size product-input" id="status" name="status">
            <option value="disponible">Available</option>
            <option value="out of stock">Out of stock</option>
          </select>
        </div>
          <div class="col-12 mt-3">
            <div class="tg-list">
              <div class="tg-list-item">
                <h4>Allow Reviews</h4>
                <input class="tgl tgl-ios"
                       formControlName="openReview" (click)="onReviews($event)" [(ngModel)]="isChecked"
                       id="allowReviews" type="checkbox"/>
                <label class="tgl-btn" for="allowReviews"></label>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="tg-list">
              <div class="tg-list-item">
                <h4>Display on popular products</h4>
                <input class="tgl tgl-ios"
                       formControlName="popular" (click)="onPopular($event)" [(ngModel)]="isPopular"
                       id="popularProd" type="checkbox"/>
                <label class="tgl-btn" for="popularProd"></label>
              </div>
            </div>
          </div>
      </div>
      <div class="col-12 text-center my-1">
        <button class="button-generic button-blue form-button text-size" [disabled]="imageObject.length === 0 || loading" type="submit">Save Changes</button>
      </div>
      <div class="col-12 text-center mt-1">
        <button class="button-generic button-blue form-button text-size">Reset</button>
      </div>
    </div>
  </div>
</form>




