<div class="container my-5 form-checkout">
  <form>
    <div class="row">
      <div class="col-lg-7 col-12">
        <div class="center-form">
          <p class="big-titles-template mb-5">Billing Information</p>
          <div class="row">
            <div class="col-lg-5 col-12 my-2 mx-2">
              <p class="text-size-template"><i class="fa fa-user mr-2"></i>Full Name</p>
              <input type="text" class="text-size-template input-template py-2" placeholder="Full Name">
            </div>
            <div class="col-lg-6 col-12 my-2 mx-2">
              <p class="text-size-template"><i class="fa fa-phone-alt mr-2"></i>Phone Number</p>
              <input type="text" class="text-size-template input-template py-2" placeholder="22 222 222">
            </div>
          </div>
          <p class="big-titles-template mb-5"><i class="fa fa-location-arrow mr-2"></i>Address</p>
          <div class="row">
            <div class="col-lg-5 col-12 my-2 mx-2">
              <p class="text-size-template"><i class="fa fa-map-pin mr-2"></i>Street & House Number</p>
              <input type="text" class="text-size-template input-template py-2" placeholder="22, rue fleur">
            </div>
            <div class="col-lg-6 col-12 my-2 mx-2">
              <p class="text-size-template"><i class="fa fa-city mr-2"></i>City</p>
              <input type="text" class="text-size-template input-template py-2" placeholder="nahj ward">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5 col-12 my-2 mx-2">
              <p class="text-size-template"><i class="fa fa-map-marked mr-2"></i>State</p>
              <input type="text" class="text-size-template input-template py-2" placeholder="nahj ward">
            </div>
            <div class="col-lg-6 col-12 my-2 mx-2">
              <p class="text-size-template"><i class="fa fa-map-marker mr-2"></i>Zipcode</p>
              <input type="text" class="text-size-template input-template py-2" placeholder="nahj ward">
            </div>
          </div>
          <div class="row my-2">
            <div class="mx-auto col-lg-6 col-12">
              <a class="button-generic button-edit small-titles-template my-3">Locate Yourself</a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-5 col-12">
        <div class="cart-section my-3 mx-2 py-3 px-3">
          <div class="row">
            <div class="col-6">
              <p class="small-titles-template">Cart</p>
            </div>
            <div class="col-6">
              <p class="text-size-template mt-1 font-weight-bold float-right">
                4<i class="ml-1 fa fa-shopping-cart"></i>
              </p>
            </div>
            <div class="mx-auto border-bottom-template"></div>
          </div>
          <div class="row mx-auto text-size-template border-bottom pb-3 mt-3">
            <div class="col-3 my-3">
              <p class="font-weight-bold">3 <i class="ml-2 fa fa-times"></i></p>
            </div>
            <div class="col-6">
              <div class='row'>
                <img class='product-image-table img-fluid ml-3 mr-3' src="assets/images/dress.jpg">
                <p class='mx-auto my-3 text-center'>dress</p>
              </div>
            </div>
            <div class="col-3 my-3">500</div>
          </div>
          <div class="row mx-auto text-size-template pb-3 mt-3">
            <div class="col-3 my-3">
              <p class="font-weight-bold">1 <i class="ml-2 fa fa-times"></i></p>
            </div>
            <div class="col-6">
              <div class='row'>
                <img class='product-image-table img-fluid ml-3 mr-3' src="assets/images/dress.jpg">
                <p class='mx-auto my-3 text-center'>dress</p>
              </div>
            </div>
            <div class="col-3 my-3">500</div>
          </div>
          <div class="row">
            <div class="my-3 mx-auto border-bottom-template"></div>
            <div class="col-6">
              <p class="small-titles-template">Total Price</p>
            </div>
            <div class="col-6">
              <p class="text-size-template mt-1 font-weight-bold float-right">
                <i class="mr-1 fa fa-cash-register"></i> 500dt
              </p>
            </div>
          </div>



        </div>
      </div>
      <div class="col-12 mt-5">
        <a class="button-generic button-edit huge-titles-template float-right">Confim Order</a>
      </div>
    </div>
  </form>
</div>
