:host {
  --primary-color: #171e27;
  --bg-font: 'Montserrat';
}
footer p {
  font-size: 12px;
  line-height: 26px;
  color: #999999;
}
footer h6 {
  color: #fff;
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 42px;
  letter-spacing: 1.5px;
}
footer {
  padding: 120px 0;
  padding-bottom: 60px;
  background-color: var(--primary-color);
  font-family: var(--bg-font), sans-serif !important;
  position: relative;
  z-index: 1;
}

.font {
  font-family: var(--bg-font), sans-serif !important;
}
.about-footer i {
  width: 20px;
  display: inline-block;
}
.about-footer p {
  margin-bottom: 20px;
}
footer li a {
  font-size: 12px;
  color: #999999;
  line-height: 26px;
  display: inline-block;
  width: 100%;
  letter-spacing: 0px;
}
footer li a:hover {
  color: #fff;
}
.rights .go-up {
  border: 1px solid #454545;
  color: #949494;
  height: 30px;
  width: 30px;
  float: right;
  position: absolute;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  bottom: -60px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}
.rights .go-up:hover {
  background: #fff;
  color: #333;
}
.rights {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 100px;
}
.rights p {
  margin: 0px;
  font-size: 10px;
  line-height: 26px;
  color: #999999;
}
.light-rights {
  background: #eceaea;
}
footer .social_icons {
  display: inline-block;
  margin-top: 20px;
}
footer .social_icons li {
  margin-right: 5px;
}
footer .social_icons a {
  font-size: 14px;
  margin-right: 20px;
  border-radius: 50%;
  line-height: 34px;
  color: #949494;
  display: inline-block;
  text-align: center;
}
.footer-info h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 30px;
}
.news-letter p {
  font-size: 13px;
}
footer .subscribe {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}
footer .subscribe button {
  background: #965452 !important;
  border: none;
  float: right;
  margin-top: -45px;
  height: 40px;
  color: #fff;
  padding: 0 20px;
  line-height: 40px;
  z-index: 9;
  position: relative;
}
footer .subscribe input {
  width: 100%;
  border: none;
  height: 40px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif !important;
  padding: 0 10px;
  margin-bottom: 5px;
}
.footer-info .links li {
  position: relative;
}
.footer-info .links li a:before {
  content: "\f105 ";
  font-family: FontAwesome;
  color: #8e8e8e;
  position: absolute;
  left: 0px;
  font-size: 12px;
  padding: 0px;
  font-weight: 100;
}
.footer-info .links li a {
  color: #999999;
  padding-left: 15px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer-info .links li a:hover {
  color: #fff;
}
.footer-info .quote .form-control {
  background: none;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #45515d;
  margin-bottom: 20px;
  height: 40px;
  font-size: 13px;
}
.footer-info .quote textarea.form-control {
  height: 80px;
}
.footer-info .personal-info {
  margin-top: 30px;
}
.footer-info .personal-info li {
  color: #999999;
  font-size: 12px;
  line-height: 24px;
  padding: 10px 0;
  padding-top: 0px;
  margin-bottom: 10px;
  letter-spacing: 0.5px;
  display: inline-block;
  width: 100%;
  font-weight: 500;
  border-bottom: 1px solid #414141;
}
.footer-info .flicker {
  margin: 0 -3px;
  margin-top: 20px;
}
.footer-info .flicker a:hover {
  opacity: 0.5;
}
.footer-info .flicker .owl-dots {
  text-align: center;
}
.footer-info .flicker .owl-dots .owl-dot {
  display: inline-block;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background: rgba(255,255,255,0.2);
  border-radius: 4px;
}
.footer-info .flicker .owl-dots .owl-dot.active {
  background: #fff;
}
.footer-info .personal-info li i {
  font-size: 16px;
  color: #929292;
  margin-right: 10px;
  float: left;
  width: 30px;
  margin-top: 3px;
  margin-bottom: 8px;
}
.foot-info-con {
  display: inline-block;
  width: 100%;
  margin-top: 80px;
}
.foot-info-con li a {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
}
.foot-info-con .icon {
  height: 90px;
  width: 90px;
  color: #fff;
  background: #3f4955;
  text-align: center;
  line-height: 90px;
  display: inline-block;
  border-radius: 0px;
  font-size: 20px;
  margin-right: 10px;
  border-radius: 50%;
}
.foot-info-con p {
  font-size: 14px;
  margin: 0px;
}
.foot-info-con h6 {
  font-family: 'Ubuntu', sans-serif !important;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
  font-size: 15px;
  text-transform: none;
  margin-bottom: 4px;
  letter-spacing: 2px;
}
.footer-light {
  background: #f9f9f9;
}
.footer-light h6 {
  color: #333333;
}
.footer-light .rights {
  margin-top: 60px;
  background: #efeeee;
}
