:host {
  --font-color: #171e27;
  --font-choice: 'Montserrat';
  --bg-color: #fff;
}
footer p {
  font-size: 12px;
  line-height: 26px;
  color: var(--bg-color);
}
footer h6 {
  color: var(--bg-color);
  margin-top: 0;
  font-size: 14px;
  margin-bottom: 42px;
  letter-spacing: 1.5px;
}
footer h4 {
  color: var(--bg-color);
}
footer {
  padding: 120px 0;
  padding-bottom: 60px;
  background-color: var(--font-color);
  font-family: var(--font-choice), sans-serif !important;
  position: relative;
  z-index: 1;
  transition: 0.3s all ease-in-out;
}
.font {
  font-family: var(--font-choice), sans-serif !important;
}
.about-footer i {
  width: 20px;
  display: inline-block;
}
.about-footer p {
  margin-bottom: 20px;
}
footer li a {
  font-size: 12px;
  color: var(--bg-color);
  line-height: 26px;
  display: inline-block;
  width: 100%;
  letter-spacing: 0px;
}
footer li a:hover {
  color: var(--bg-color);
}
.rights .go-up {
  border: 1px solid #454545;
  color: #949494;
  height: 30px;
  width: 30px;
  float: right;
  position: absolute;
  right: 0px;
  left: 0px;
  margin: 0 auto;
  bottom: -60px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}
.rights .go-up:hover {
  background: var(--bg-color);
  color: #333;
}
.rights {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 100px;
}
.rights p {
  margin: 0px;
  font-size: 10px;
  line-height: 26px;
  color: var(--bg-color);
}
.light-rights {
  background: #eceaea;
}
footer .social_icons {
  display: inline-block;
  margin-top: 20px;
}
footer .social_icons li {
  margin-right: 5px;
}
footer .social_icons a {
  font-size: 14px;
  margin-right: 20px;
  border-radius: 50%;
  line-height: 34px;
  color: #949494;
  display: inline-block;
  text-align: center;
}



.container-fluid {
  margin-top: 101px;
  color: #000 !important
}

.card {
  color: #757575 !important;
  background-color: #fff !important;
  align-items: center !important;
  background: url('https://i.imgur.com/9djv5sH.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right calc(110px + (150 - 110) * ((100vw - 360px) / (1600 - 360))) bottom !important
}

h2 {
  font-size: calc(25px + (45 - 25) * ((100vw - 360px) / (1600 - 360))) !important
}

h5 {
  font-size: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important
}

.fa {
  cursor: pointer;
  font-size: 21px;
  margin: 5px 10px 5px 10px !important
}

button {
  font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
  padding-left: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
  padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important;
  padding-top: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
  padding-bottom: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

li {
  margin-top: 10px;
  margin-bottom: 10px
}

input {
  border: 2px solid green !important
}

.input-group-lg>.custom-select,
.input-group-lg>.form-control:not(textarea) {
  height: calc(40px + (48 - 40) * ((100vw - 360px) / (1600 - 360))) !important
}

input::-webkit-input-placeholder {
  padding-left: 5px !important;
  transform: translate3d(0, -4px, 0)
}

input::placeholder {
  vertical-align: middle !important;
  font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

img {
  vertical-align: middle !important;
  width: 100%;
  height: auto;
  width: calc(17px + 6 * ((100vw - 320px) / 680))
}

li:first-child {
  font-size: 21px !important;
  /*font-weight: bold;*/
  /* margin-bottom: calc(40px + (48 - 40) * ((100vw - 360px) / (1600 - 360))) !important;*/
  /*color: #757575 !important*/
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.active-link {
  font-weight: bold;
}

.social {
  position: relative;
  left: -10px
}

.cursor-pointer {
  cursor: pointer !important;
  color: green;
  font-weight: bold
}
