<!-- Popular Products -->
<section *ngIf='store' class="padding-top-50 padding-bottom-150">
  <div class="container">

    <!-- Main Heading -->
    <div class="heading text-center">
      <h4 class="font">popular products</h4>
      <button class="mx-auto btn" routerLink="../products">ALL PRODUCTS</button>
      <span>{{ store.template.header.description }}</span> </div>

    <!-- Popular Item Slide -->
    <div class="papular-block block-slide">

      <!-- Item -->
      <div class="item" *ngFor="let product of popularProducts">
        <!-- Item img -->
        <div class="item-img">

          <div class="parent-image">
            <img class="img-1" [src]="product.imgs[0]" alt="" >
            <img class="img-2" [src]="product.imgs[1]?product.imgs[1]:product.imgs[0]" style="top: auto" alt="" >
          </div>
          
          <!-- Overlay -->
          <div class="overlay">
            <div class="position-center-center">
              <div class="inn"><a href="../../../assets/second-template/images/product-1.jpg" data-lighter>
                <i class="icon-magnifier"></i>
              </a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="icon-basket"></i></a> <a href="#." data-toggle="tooltip" data-placement="top" title="Add To WishList"><i class="icon-heart"></i></a></div>
            </div>
          </div>
        </div>
        <!-- Item Name -->
        <div class="item-name"> <a href="#.">{{product.name}}</a>
          <p>{{product.description}}</p>
        </div>
        <!-- Price -->
        <span class="price"><small>dt</small>{{product.price}}</span>
      </div>

    </div>
  </div>
</section>
