<header>
    <div class="navigation-wrap start-header start-style vivify fadeInTop delay-150" id="headerr">
        <div class="small-titles-template">
            <div class="">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="https://front.codes/" target="_blank">
                            <img alt="Brand">
                        </a>
                        <button class="navbar-toggler mx-5" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon mt-1"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto py-4 py-md-0 ">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 my-auto">
                                    <a class="nav-link active mx-4" href="#">Home</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 my-auto">
                                    <a class="nav-link mx-4" href="#">About Us</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 my-auto">
                                    <a class="nav-link mx-4" href="#">Contact Us</a>
                                </li>
                            </ul>
                          <ul>
                            <li>
                              <a id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">3</span></a>
                            </li>
                          </ul>
                          <!--end container -->
<!--                            <form class="form-inline mr-5" >-->

<!--                                <input class="form-control " type="search" placeholder="Search" aria-label="Search">-->
<!--                                <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                            </form>-->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="">
  <div class="shopping-cart" style="display: none;">
    <div class="shopping-cart-header">
      <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
      <div class="shopping-cart-total">
        <span class="lighter-text">Total:</span>
        <span class="main-color-text">$2,229.97</span>
      </div>
    </div> <!--end shopping-cart-header -->

    <ul class="shopping-cart-items">
      <li class="clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
        <span class="item-name">Sony DSC-RX100M III</span>
        <span class="item-price">$849.99</span>
        <span class="item-quantity">Quantity: 01</span>
      </li>

      <li class="clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
        <span class="item-name">KS Automatic Mechanic...</span>
        <span class="item-price">$1,249.99</span>
        <span class="item-quantity">Quantity: 01</span>
      </li>

      <li class="clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
        <span class="item-name">Kindle, 6" Glare-Free To...</span>
        <span class="item-price">$129.99</span>
        <span class="item-quantity">Quantity: 01</span>
      </li>
    </ul>

    <a routerLink="/template/checkout" class="button">Checkout</a>
  </div> <!--end shopping-cart -->
</div>
