<header>
    <div class="navigation-wrap start-header start-style vivify fadeInTop delay-150" id="headerr">
        <div class="small-titles-template">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="https://front.codes/" target="_blank">
                            <img alt="Brand">
                        </a>
                        <button class="navbar-toggler mx-5" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon mt-1"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto py-4 py-md-0 ">
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 my-auto">
                                    <a class="nav-link active mx-4" href="#">Home</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 my-auto">
                                    <a class="nav-link mx-4" href="#">About Us</a>
                                </li>
                                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 my-auto">
                                    <a class="nav-link mx-4" href="#">Contact Us</a>
                                </li>
                            </ul>

                            <form class="form-inline mr-5" >
                                <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
