@import "../dashboard.component.css";
.upload-icon {
    color: var(--blue-color);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.white-background {
    background-color: white;
}

.border-shadow {
    border-radius: 20px;
    box-shadow: 0 3px 19px rgba(0, 0, 0, 0.1);
}
