<!-- modify profile -->
<div class="text-center">
  <div class="sales-header mt-5 mx-auto">
    <h1 class="big-titles">Edit Your Profile</h1>
    <div class="text-size mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquam
      delectus dolorum eligendi esse est fugiat id libero minima non optio possimus quaerat quo recusandae rerum unde,
      vitae voluptatibus.
    </div>
  </div>
  <div class="mt-5" [ngClass]="{'d-flex' : windwosWidth > 767}">
    <div class="col-md-6 col-12">
      <div class="margin-top width mx-auto mb-5">
        <div class="border-shadow px-5 py-5 white-background card-profile">
          <h3 class="big-titles mb-5">Profile infos</h3>
          <div class="row my-4">
            <div class="col-md-3 col-12">
              <label class="text-size">Name</label>
            </div>
            <div class="col-md-9 col-12">
              <input type="text" class="input" placeholder="Hackover">
            </div>
          </div>
          <div class="row my-4">
            <div class="col-md-3 col-12">
              <label class="text-size">Email</label>
            </div>
            <div class="col-md-9 col-12">
              <input type="email" class="input" placeholder="Hackover@gmail.com">
            </div>
          </div>
          <div class="row my-4">
            <div class="col-md-3 col-12 mb-3">
              <label class="text-size">Store Name</label>
            </div>
            <div class="col-md-9 col-12">
              <input type="text" class="input" placeholder="Hackover">
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-3 col-12 mb-3">
              <label class="text-size">Store Logo</label>
            </div>
            <div class="col-md-9 col-12">
              <button class="upload-icon border-none shadow-none text-size mx-auto d-flex px-4 py-1">
                <i class="fas fa-cloud-upload-alt fa-2x mr-4"></i>
                <p class="mt-2"> Upload new logo</p>
              </button>
            </div>
          </div>
        </div>
        <div class="password-info"></div>
      </div>

    </div>
    <div class="col-md-6 col-12">
      <div class="margin-top width mx-auto">
        <div class="border-shadow px-5 py-5 white-background card-profile">
          <h3 class="big-titles mb-5">Security infos</h3>
          <div class="row my-5">
            <div class="col-md-3 col-12">
              <label class="text-size">Old Psssword</label>
            </div>
            <div class="col-md-9 col-12">
              <input type="password" class="input" placeholder="xxxx">
            </div>
          </div>
          <div class="row my-5">
            <div class="col-md-3 col-12">
              <label class="text-size">New Password</label>
            </div>
            <div class="col-md-9 col-12">
              <input type="password" class="input" placeholder="xxxx">
            </div>
          </div>
          <div class="row my-5">
            <div class="col-md-3 col-12 mb-3">
              <label class="text-size">Confirm Password</label>
            </div>
            <div class="col-md-9 col-12">
              <input type="password" class="input" placeholder="xxxx">
            </div>
          </div>
        </div>
        <div class="password-info"></div>
      </div>

    </div>
  </div>

</div>
