@import "../dashboard.component.css";

.upload-icon {
  color: white !important;
  background-color: var(--blue-color) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: solid 2px var(--blue-color) !important;
  border-radius: 25px !important;
}

.white-background {
  background-color: white;
}

.border-shadow {
  border-radius: 20px;
  box-shadow: 0 3px 19px rgba(0, 0, 0, 0.1);
}
.card-profile {
  height: 55vh;
}

@media screen and (max-width: 768px){
  .card-profile {
    height: auto;
  }
  .fa-2x {
    font-size: 2em !important;
  }
}

.red {
  border-color: red;
}


.swal-text {
  background-color: #FEFAE3;
  padding: 17px;
  border: 1px solid #F0E1A1;
  display: block;
  margin: 22px;
  text-align: center;
  color: #61534e;
}