:host {
  --primary-color: #FFF;
  --font-color: #2d3a4b;
  --font-hover: #ffe115;
  --font-choice: 'Montserrat';
  --primary-color-rgba: rgba(255,255,255,0.95);
}
header {
  width: 100%;
  z-index: 999;
  background: var(--primary-color);
  padding: 30px 0;
  position: relative;
  font-family: var(--font-choice) !important;
}
header .container {
  padding: 0px;
}
header .navbar {
  border: none;
  margin: 0px;
  position: static;
  padding: 0px;
  border-radius: 0px;
  text-align: center;
  float: right;
}
header .logo {
  float: left;
  margin-top: 8px;
  position: relative;
}
header .logo img {
  z-index: 3;
  position: relative;
}
header .sticky {
  /* background: rgba(255,255,255,0.95); */
  background: var(--primary-color-rgba);
  padding: 10px 0;
  left: 0px;
}
header .is-sticky .sticky {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
header .navbar {
  display: inline-block;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
header .navbar li {
  display: inline-block;
  float: left;
  margin: 0 5px;
  position: relative;
}
header .sticky {
  width: 100%;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
header .navbar li a {
  font-size: 14px;
  color: var(--font-color);
  font-weight: normal;
  padding: 15px 0px;
  margin:0 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
header .navbar li a:before {
  width: 0px;
  margin: 0px auto;
  position: absolute;
  content: "";
  height: 6px;
  left:0px;
  top: 45%;
  z-index: -1;
  background: var(--font-hover);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
header .navbar li a:hover:before {
  width: 100%;
}
header .navbar li.active a:before {
  width: 100%;
  margin: 0px auto;
  position: absolute;
  content: "";
  height: 6px;
  top: 45%;
  left:0px;
  z-index: -1;
  background: var(--font-hover);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.nav>li>a:focus, .nav>li>a:hover {
  background: none;
}
.ownmenu .nav .dropdown-menu {
  background: rgba(255,255,255,0.99);
  padding: 0px;
}
.ownmenu .dropdown-menu li {
  margin: 0px;
}
.ownmenu .nav .dropdown-menu li {
  position: relative;
  z-index: 2;
}
.ownmenu .nav .dropdown-menu li a {
  z-index: 1;
  position: relative;
}
.ownmenu .nav .dropdown-menu li a:before {
  background: var(--font-color);
  content: "";
  width: 0px;
  height: 100%;
  top: 0px;
  margin: 0px;
  z-index: -1;
  left: 0px;
  display: none;
}
.ownmenu .dropdown-menu li a:hover:before {
  width: 100%;
}
.ownmenu .nav .dropdown-menu li a {
  padding: 0px 20px;
  font-size: 12px;
  letter-spacing: 0px;
  font-weight: normal !important;
  line-height: 30px;
  background: none;
  text-transform: none;
  letter-spacing: 2px;
  color: var(--font-color) !important;
}
.ownmenu .nav .dropdown-menu li:nth-last-child(1) a {
  border-bottom: none;
}
.ownmenu .nav .dropdown-menu li a:hover {
  color: #000 !important;
}
.ownmenu .nav .dropdown-menu {
  border: none;
  min-width: 250px;
  margin-top: 40px;
}
.ownmenu .nav .dropdown-menu {
  border: 1px solid #bfc1c3;
  border-top: none;
  padding: 25px 20px;
  border-radius: 0px 0px 8px 8px;
}
.ownmenu .nav .dropdown-menu {
}
.ownmenu .nav .dropdown-menu li a {
  position: relative;
}
.ownmenu .nav .dropdown-menu li a:after {
  content: "\f105";
  position: absolute;
  left: 5px;
  top: 0px;
  color: #000;
  font-family: 'FontAwesome';
}
.ownmenu .dropdown .sub-menu .dropdown-menu {
  position: absolute;
  left: 100%;
  top: 0px;
  display: none !important;
  margin: 0px !important;
}
.ownmenu .dropdown .sub-menu:hover .dropdown-menu {
  display: block !important;
}
.ownmenu .dropdown .sub-menu .dropdown-menu li a {
  border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}
.ownmenu .dropdown .sub-menu .dropdown-menu li:nth-last-child(1) a {
  border-bottom: 1px solid rgba(0,0,0,0.1) !important;
}
.ownmenu .dropdown .sub-menu:before {
  content: "\f105";
  position: absolute;
  right: 10px;
  font-family: 'FontAwesome';
  line-height: 33px;
  z-index: 2;
}
.ownmenu .dropdown .sub-menu:hover:before {
  color: #fff;
}
.ownmenu {
  float: left;
}
.nav-right i {
  font-size: 20px;
}
.nav-right .navbar-right li {
  margin: 0px;
}
.nav-right {
  float: right;
  margin-top: 15px;
  position: relative;
}
header .social_icons {
  float: right;
  color: #fff;
  margin-top: 20px;
}
header .social_icons a {
  color: #fff;
  margin-left: 10px;
}
header.light-head  .navbar .nav-right  li a{
  padding-left:0px !important;
  padding-right:0px !important;
  background:none !important;
}
header .social_icons a:hover {
  color: #ab4e52;
}
header .is-sticky .sticky .nav .dropdown-menu {
  margin-top: 10px;
}
header.light-head .navbar li a {
  color: #fff;
}
header.light-head .navbar li a:hover{
  background: rgba(0,0,0,0.9);
  border-radius:6px 6px 0 0;
}
header.light-head .navbar .dropdown-menu li a {
  color: #333;
}
header.light-head .navbar .dropdown-menu li a.btn {
  color: #fff;
}
header.light-head .ownmenu .nav .dropdown-menu {
  background: rgba(0,0,0,0.9) !important;
  border: none;
}
header.light-head .ownmenu .nav ul.dropdown-menu li a {
  color: #fff !important;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
header.light-head .ownmenu .nav .dropdown-menu li a:after{
  color:#fff;
}
header.light-head .ownmenu .nav ul.dropdown-menu li a:hover {
  color: #fff !important;
}
header.light-head .ownmenu .nav ul.dropdown-menu li a:before {
  display: none;
}
header.light-head p {
  color: #b4b4b4;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background: none;
}
header.light-head .navbar li a:before {
  background: #fff;
  bottom: 0px;
  top: auto;
  height: 2px;
}
header.light-head .navbar li.active a:before {
  background: #fff;
}
header.light-head .ownmenu ul.dropdown {
  background: rgba(0,0,0,0.9);
}
header.light-head .ownmenu ul.dropdown li a {
  color: #d6d6d6 !important;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
header .navbar-collapse {
  float: left;
  padding: 0px;
  margin-right: 20px;
}
header .user-acc li {
  display: inline-block;
  width: 100%;
  margin: 0px !important;
}
header .user-acc li h6 {
  padding: 0 20px;
  font-weight: normal;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin: 10px 0;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
  text-transform: none;
}
header .user-acc .dropdown-menu {
  margin-top: 51px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  min-width: 260px;
}
header .is-sticky .sticky .user-acc .dropdown-menu {
  margin-top: 21px;
}
header .user-acc li a {
  display: inline-block;
  width: 100%;
  letter-spacing: 0px;
  padding: 10px 20px;
  font-size: 12px;
}
header .user-acc .dropdown-menu>li>a:hover {
  background: var(--font-hover);
}
header .user-acc .dropdown-menu>li>a:focus {
  background: var(--font-hover);
}
header .navbar-right li a:before {
  display: none;
}
header .user-basket .dropdown-menu {
  margin-top: 51px;
  padding: 20px;
  border: none;
  border-radius: 0px;
  min-width: 350px;
}
header .user-basket .dropdown-menu li {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  width: 100%;
}
header .user-basket h5 {
  font-weight: normal;
  font-size: 16px;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px 0;
}
header .user-basket .btn {
  padding: 0px 0px;
  width: 100%;
  letter-spacing: 0px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
}
header .user-basket .btn:hover {
  background: var(--font-hover);
  color: var(--font-color);
}
header .user-basket .media-heading {
  margin-top: 0px;
  font-weight: normal;
}
header .user-basket span {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  font-size: 12px;
}
header .user-basket .cart-img a {
  display: inline-block;
  width: 100%;
  padding: 0px;
}
header .user-basket .cart-img {
  width: 90px;
  margin-right: 10px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  padding: 5px;
  display: inline-block;
}
header .is-sticky .sticky .user-basket .dropdown-menu {
  margin-top: 21px;
}
.search-inside {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .8);
  z-index: 500;
  display: none;
}
.search-inside .search-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.search-inside .search-close {
  position: absolute;
  right: 50px;
  top: 50px;
  font-size: 30px;
  cursor: pointer;
  z-index: 500;
}
.search-inside .search {
  display: inline-block;
  width: 100%;
  position: relative;
}
.search-inside .position-center-center {
  width: 100%;
  padding: 0 20px;
}
.search-inside .search input {
  background: #fff;
  font-size: 20px;
  color: #333;
  text-align: left;
  height: 60px;
  width: 100%;
  border: none;
  padding: 0 20px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.search-inside .search input:focus {
  outline: none;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.search-inside .search button {
  position: absolute;
  right: 0;
  top: 0px;
  line-height: 60px;
  margin-top: 0px;
  font-size: 30px;
  background: none;
}
.search-inside .search button:hover {
  color: #333;
}
