<div class="container my-5">
  <div class="row">
    <app-product-card [src]="'../../../assets/images/dress.jpg'" class="col-md-4 text-center mt-4"></app-product-card>
    <app-product-card [src]="'../../../assets/images/fashion-WPWVGRY.jpg'" class="col-md-4 text-center mt-4"></app-product-card>
    <app-product-card [src]="'../../../assets/images/dress.jpg'" class="col-md-4 text-center mt-4"></app-product-card>
    <app-product-card [src]="'../../../assets/images/fashion-WPWVGRY.jpg'" class="col-md-4 text-center mt-4"></app-product-card>
    <app-product-card [src]="'../../../assets/images/fashion-WPWVGRY.jpg'" class="col-md-4 text-center mt-4"></app-product-card>
  </div>
</div>
