<div id="sidebar-font">
  <ul class="list-unstyled components">
    <li class="sidenav-elem">
      <div class="my-4 py-3 px-1 back-button nav-link-sidebar text-size cursor-pointer" routerLink="/store">
        <i class="fa fa-chevron-left"></i>
        <span class="ml-3">Edit your store</span>
      </div>
      <a class="nav-link-sidebar mt-1 big-titles">
        <i class="fa fa-font mr-3"></i> Font
      </a>
      <p 
        class=""
        [style.font-size]='fontSize+"px"'
        [style.font-family]='fontType'
        [style.font-weight]='fontWeight'
        [style.text-shadow]= 'textShadow ?"1px 1px "+textShadowColor : ""'
        >
        Lorem ipsum dolor sit amet!
      </p>

      <div class="row mt-4">
        <label class="text-size mt-2 col-3">Type</label>
        <select
          #types
          [(ngModel)]="fontType"
          class="sidenav-input-item col-8 text-size ml-3 px-2 py-1" 
          name="types">
          <option *ngFor="let type of fontTypes" class="option" value="{{type}}">{{type}}</option>
        </select>
      </div>

      <div class="row mt-4">
        <label class="text-size mt-2 col-4">Size</label>
        <input 
          #size
          type="number" 
          class="sidenav-input-item col-7 text-size px-3 py-1" 
          placeholder="{{fontSize}}"
          min="{{fontSizeMin}}"
          max="{{fontSizeMax}}"
          (keyup.enter)="sizeChange(size.value)">
      </div>

      <div class="row mt-4">
        <label class="text-size mt-2 col-4">Weight</label>
        <select 
          #weights
          [(ngModel)]="fontWeight"
          class="sidenav-input-item col-7 text-size px-3 py-1" 
          name="weights" 
          id="font-weight">
          <option *ngFor="let weight of fontWeights" class="option" value="{{weight}}">{{weight}}</option>
        </select>
      </div>

      <div class="row mt-4">
        <label class="text-size mt-2 col-4">Shadow</label>
        <input 
          #shadow 
          type="range" 
          class="text-shadow my-auto mx-auto" 
          min="0" 
          max="1" 
          [value]="textShadow ? '1' : '0'" 
          (click)="shadowChange(shadow.value)">
      </div>

      <div class="row mt-4">
        <div class="col-6">
          <div class="text-center py-2 px-1 sidenav-input-item">
            <i class="fa fa-align-center mx-2 fa-2x cursor-pointer"></i>
            <i class="fa fa-align-left mx-2 fa-2x cursor-pointer"></i>
            <i class="fa fa-align-right mx-2 fa-2x cursor-pointer"></i>
          </div>
        </div>
        <div class="col-6 mt-1">
          <div class="py-2">
            <span (click)="onSelect()"><i class="fa fa-bold mr-3 fa-2x cursor-pointer" [ngClass] = "{'font-item-selected': selectItem}"></i></span>
            <i class="fa fa-italic mx-3 fa-2x cursor-pointer"></i>
            <i class="fa fa-font mx-3 fa-2x cursor-pointer"></i>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="text-center my-5">
    <a class="button-generic button-black text-size mr-2">Save</a>
    <a class="button-generic button-black text-size">Reset</a>
  </div>

</div>
<!--<nav id="sidebar-non-active" class="active">-->
  <!--<ul class="list-unstyled text-size text-center">-->
    <!--<li class=" mb-3">-->
      <!--<a class="nav-link-sidebar">-->
        <!--<i class="fa fa-palette"></i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="sidenav-elem mb-3">-->
      <!--<a class="nav-link-sidebar mt-1">-->
        <!--<i class="fa fa-font"></i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="sidenav-elem mb-3">-->
      <!--<a class="nav-link-sidebar mt-1">-->
        <!--<i class="fa fa-share-alt"></i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="sidenav-elem mb-3">-->
      <!--<a class="nav-link-sidebar mt-1">-->
        <!--<i class="fa fa-align-left"></i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="sidenav-elem mb-3">-->
      <!--<a class="nav-link-sidebar mt-1">-->
        <!--<i class="fa fa-phone" style="transform: rotate(90deg)"></i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="sidenav-elem mb-3">-->
      <!--<a class="nav-link-sidebar mt-1">-->
        <!--<i class="fa fa-columns"></i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li class="sidenav-elem mb-3">-->
      <!--<a class="nav-link-sidebar mt-1">-->
        <!--<i class="fa fa-backward"></i>-->
      <!--</a>-->
    <!--</li>-->

  <!--</ul>-->
  <!--<div class="container  ">-->
    <!--<div class="row text-center">-->
      <!--<span class="mx-auto" (click)="toggleS()">-->
        <!--<i class="fa fa-toggle-off fa-3x " aria-hidden="true" ></i>-->
      <!--</span>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

