<app-sub-header-second-template [fromWhere]="'checkout'"></app-sub-header-second-template>

<!-- Content -->
<div id="content">

  <!--======= PAGES INNER =========-->
  <section class="chart-page padding-top-100 padding-bottom-100">
    <div class="container">

      <!-- Payments Steps -->
      <div class="shopping-cart">

        <!-- SHOPPING INFORMATION -->
        <div class="cart-ship-info">
          <div class="row">

            <!-- ESTIMATE SHIPPING & TAX -->
            <div class="col-sm-7">
              <h6>BILLING DETAILS</h6>
              <form>
                <ul class="row">

                  <!-- NAME -->
                  <li class="col-md-6">
                    <label> *FIRST NAME
                      <input type="text" name="first-name" value="" placeholder="">
                    </label>
                  </li>
                  <!-- LAST NAME -->
                  <li class="col-md-6">
                    <label> *LAST NAME
                      <input type="text" name="last-name" value="" placeholder="">
                    </label>
                  </li>
                  <!-- PHONE -->
                  <li class="col-md-12">
                    <label> *PHONE
                      <input type="text" name="postal-code" value="" placeholder="">
                    </label>
                  </li>
                  <!-- STATE -->
                  <li class="col-md-6">
                    <label> *STATE
                      <input type="text" name="first-name" value="" placeholder="">
                    </label>
                  </li>
                  <!-- CITY -->
                  <li class="col-md-6">
                    <label> *CITY
                      <input type="text" name="last-name" value="" placeholder="">
                    </label>
                  </li>
                  <!-- STREET -->
                  <li class="col-md-6">
                    <label>*STREET
                      <input type="text" name="town" value="" placeholder="">
                    </label>
                  </li>
                  <!-- ZIPCODE -->
                  <li class="col-md-6">
                    <label> ZIPCODE
                      <input type="text" name="contry-state" value="" placeholder="">
                    </label>
                  </li>
                  <!-- SUBMIT-->
                  <li class="col-md-12 mx-auto text-center">
                    <button type="submit" class="btn">SUBMIT</button>
                  </li>
                </ul>
              </form>
            </div>

            <!-- SUB TOTAL -->
            <div class="col-sm-5">
              <h6>YOUR ORDER</h6>
              <div class="order-place">
                <div class="order-detail">
                  <p>WOOD CHAIR <span>$598 </span></p>
                  <p>STOOL <span>$199 </span></p>
                  <p>WOOD SPOON <span> $139</span></p>

                  <!-- SUB TOTAL -->
                  <p class="all-total">TOTAL COST <span> $998</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="small-about padding-top-150 padding-bottom-150">
    <div class="container">

      <!-- Main Heading -->
      <div class="heading text-center">
        <h4>about ecoshop</h4>
        <p>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
          eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex. </p>
      </div>

      <!-- Social Icons -->
      <ul class="social_icons">
        <li><a href="#."><i class="icon-social-facebook"></i></a></li>
        <li><a href="#."><i class="icon-social-twitter"></i></a></li>
        <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
        <li><a href="#."><i class="icon-social-youtube"></i></a></li>
        <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
      </ul>
    </div>
  </section>

  <!-- News Letter -->
  <section class="news-letter padding-top-150 padding-bottom-150">
    <div class="container">
      <div class="heading light-head text-center margin-bottom-30">
        <h4>NEWSLETTER</h4>
        <span>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odi </span> </div>
      <form>
        <input type="email" placeholder="Enter your email address" required>
        <button type="submit">SEND ME</button>
      </form>
    </div>
  </section>
</div>

