<!-- Content -->
<div id="content">
  <!--======= PAGES INNER =========-->
  <section class="chart-page padding-top-100 padding-bottom-100">
    <div class="container">

      <!-- Payments Steps -->
      <div class="shopping-cart">

        <!-- SHOPPING INFORMATION -->
        <div class="cart-ship-info">
          <div class="row">

            <!-- ESTIMATE SHIPPING & TAX -->
            <div class="col-sm-7">
              <h6>BILLING DETAILS</h6>
              <form [formGroup]="clientForm"  (submit)="onSubmit()">
                <ul class="row">

                  <!-- NAME -->
                  <li class="col-md-6">
                    <label> *FIRST NAME
                      <input type="text" formControlName="firstname"  placeholder="foulen">
                    </label>
                  </li>
                  <!-- LAST NAME -->
                  <li class="col-md-6">
                    <label> *LAST NAME
                      <input type="text" formControlName="lastname" value="" placeholder="ben foulen">
                    </label>
                  </li>
                  <!-- PHONE -->
                  <li class="col-md-12">
                    <label> *PHONE
                      <input type="number" formControlName="phoneNumber" value="" placeholder="21234567">
                    </label>
                  </li>
                  <!-- STATE -->
                  <li class="col-md-6">
                    <label>*STREET
                      <input type="text" formControlName="street" value="" placeholder="15 rue de liberté">
                    </label>
                  </li>
                  <!-- CITY -->
                  <li class="col-md-6">
                    <label> *CITY
                      <input type="text" formControlName="city" value="" placeholder="BJ">
                    </label>
                  </li>
                  <!-- STREET -->
                  <li class="col-md-6">
                    <label>*STATE
                      <input type="text" formControlName="state" value="" placeholder="Ariana">
                    </label>
                  </li>
                  <!-- ZIPCODE -->
                  <li class="col-md-6">
                    <label> ZIPCODE
                      <input type="number" formControlName="zipcode" value="" placeholder="2073">
                    </label>
                  </li>
                  <!-- SUBMIT-->
                  <li class="col-md-12 mx-auto text-center">
                    <button type="submit" class="btn" >ORDER</button>
                  </li>
                </ul>
              </form>
            </div>

            <!-- SUB TOTAL -->
            <div class="col-sm-5">
              <h6>YOUR ORDER</h6>
              <div class="order-place">
                <div class="order-detail">
                  <div *ngFor="let element of cart">
                  <p >{{element.product.name}} <span>{{element.product.price}} DT </span></p>
                  </div>
                  <!-- SUB TOTAL -->
                  <p class="all-total">TOTAL COST <span> {{totalPrice}} DT</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

