:host {
  --primary-color: #FFF;
  --font-color: #2d3a4b;
  --font-hover: #ffe115;
  --font-choice: 'montserrat';
  --primary-color-rgba: rgba(255,255,255,0.95);
}
.chart-page h6 {
  font-family: var(--font-choice), sans-serif !important;
  color: var(--font-color) !important;
}
.chart-page .shopping-cart {
  position: relative;
  overflow: hidden;
}
.shopping-cart img {
  width: 100%;
}
.shopping-cart li {
  position: relative;
}
.shopping-cart li input {
  display: inline-block;
  width: 100%;
}
.shopping-cart li {
  font-family: var(--font-choice), sans-serif !important;
  font-size: 12px;
  color: var(--font-color) !important;
}
.shopping-cart li input {
  border: 1px solid #ebebeb;
  width: 60px;
  font-family: var(--font-choice), sans-serif !important;
  height: 44px;
  float: left;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.shopping-cart li a {
  color: #272727;
  font-size: 16px;
}
.shopping-cart .cart-ship-info {
  text-align: left;
  margin-top: 50px;
}
.shopping-cart .cart-ship-info h6 {
  margin-bottom: 60px;
  margin-top: 0px;
  color: #2d3a4b;
  font-size: 20px;
  letter-spacing: 3px;
}
.shopping-cart .cart-ship-info h6:before {
  width: 60px;
  height: 2px;
  background: var(--font-color);
  border: none;
  content: '';
  display: inline-block;
  position: absolute;
  margin-top: 30px;
}
.shopping-cart .cart-ship-info input {
  border: 1px solid var(--font-color);
  width: 60px;
  height: 44px;
  float: left;
  width: 100%;
  font-size: 11px;
  padding: 0 10px;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: normal;
  text-align: left;
  margin-top: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.shopping-cart .order-place input {
  margin: 0px;
  height: auto !important;
}
.shopping-cart .cart-ship-info label {
  font-size: 10px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  font-size: 12px;
  font-weight: normal;
  color: var(--font-color);
}
.shopping-cart .cart-ship-info .order-detail p {
  font-weight: normal;
  color: var(--font-color) !important;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
  font-size: 12px;
  margin: 0px;
}
.shopping-cart .order-place {
  border: 3px solid var(--font-hover);
  padding: 30px;
  display: inline-block;
  width: 100%;
}
.shopping-cart .order-place h5 {
  font-weight: bold;
  color: #af5875;
  margin: 0px;
}
.shopping-cart .order-place .order-detail p {
  font-weight: normal;
  font-family: var(--font-choice), sans-serif !important;
  color: var(--font-color) !important;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
  font-size: 12px;
  margin: 0px;
}
.shopping-cart .all-total {
  font-size: 18px !important;
  font-weight: bold !important;
}
.shopping-cart .order-place .order-detail p span {
  float: right;
}
.shopping-cart .order-place .order-detail {
  margin-bottom: 30px;
}
.shopping-cart .btn {
  font-family: var(--font-choice), sans-serif !important;
  background-color: var(--font-color) !important;
  font-size: 14px;
  padding: 0px 30px;
}
.shopping-cart .btn:hover {
  background: var(--font-hover) !important;
}
