/* ***************** SideNav ****************** */


#sidebar {
  top: 0;
  bottom: 0;
  overflow-y: scroll !important;
  z-index: 5;
  min-width: 250px;
  max-width: 250px;
  min-height: 50vh;
  height: auto;
  background: var(--light-black-color);
  color: #fff;
  transition: all 0.3s;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar-non-active {
  top: 0;
  bottom: 0;
  overflow-y: hidden !important;
  min-width: 80px;
  max-width: 80px;
  min-height: 50vh;
  height: auto;
  background: var(--light-black-color);
  color: #fff;
  transition: all 0.3s;
}


#sidebar .sidebar-header {
  padding: 20px;
  background: var(--light-black-color);
}

#sidebar ul p, #sidebar-non-active ul p {
  color: #fff;
  padding: 10px;
  padding-bottom: 0 !important;
}

#sidebar ul li a {
  padding: 10px 10px 10px 35px;
  display: block;
}

#sidebar-non-active ul li a {
  padding: 20px;
  display: block;
}

#sidebar ul li a:hover, #sidebar-non-active ul li a:hover {
  color: var(--white-color);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"], #sidebar-non-active ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: var(--light-black-color);
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.nav-link-sidebar {
  text-decoration: none !important;
  color: white;
  transition: all 200ms linear;
  margin-top: -5px
}

.child-elem {
  padding-left: 60px !important;
}

.sidenav-elem {
  width: 90%;
  margin: auto;
  border-top: solid 2px var(--white-color);;
}

.disabled-element:hover {
  color: #7a7a7a !important;
  cursor: not-allowed;
}
