<!-- Item -->
  <div class="item">
    <!-- Item img -->
    <div class="item-img"> <img class="img-1" src="../../../../assets/second-template/images/product-2-1.jpg" alt="" > <img class="img-2" src="images/product-2.jpg" alt="" >
      <!-- Overlay -->
      <div class="overlay">
        <div class="position-center-center">
          <div class="inn"><a href="../../../../assets/second-template/images/product-2-1.jpg" data-lighter><i class="icon-magnifier"></i></a> <a href="#."><i class="icon-basket"></i></a> <a href="#." ><i class="icon-heart"></i></a></div>
        </div>
      </div>
    </div>
    <!-- Item Name -->
    <div class="item-name"> <a href="#.">stone cup</a>
      <p>Lorem ipsum dolor sit amet</p>
    </div>
    <!-- Price -->
    <span class="price"><small>$</small>299</span> </div>
