#template {
  --huge-titles-desktop: 3.5rem;
  --huge-titles-tablet: 2.7rem;
  --huge-titles-mobile: 1.7rem;

  --big-titles-desktop: 2.4rem;
  --small-titles-desktop: 2rem;
  --text-desktop: 1.7rem;

  --big-titles-tablet: 1.9rem;
  --small-titles-tablet: 1.7rem;
  --text-tablet: 1.4rem;

  --big-titles-mobile: 1.7rem;
  --small-titles-mobile: 1.5rem;
  --text-mobile: 1.2rem;

  --white-color: #F1F1F1;
  --black-color: #2c2c2c;
  --light-black-color: #2D3438;

  /* ***************** General Font ****************** */

  font-family: 'Jost', sans-serif !important;
  font-weight: 400;
  font-style: normal;

  transition: all 200ms linear;
}


:host /deep/ .huge-titles-template {
  font-size: var(--huge-titles-desktop) !important;
}

:host /deep/ .big-titles-template {
  font-size: var(--big-titles-desktop) !important;
  font-weight: 700;
}

:host /deep/ .small-titles-template {
  font-size: var(--small-titles-desktop) !important;
  font-weight: 600;
}

:host /deep/ .text-size-template {
  font-size: var(--text-desktop) !important;
}


.button-generic {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 2px 15px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.button-generic:hover {
  cursor: pointer;
  text-decoration: none;
}
