<!-- Sidebar -->
<div id="sidebar-contact">
  <ul class="list-unstyled components text-size">
    <li class="sidenav-elem">
      <a class="my-4 py-3 px-1 back-button nav-link-sidebar cursor-pointer" (click)="returnToEditStore()">
        <i class="fa fa-chevron-left"></i>
        <span class="ml-3">Edit your store</span>
      </a>
      <a class="nav-link-sidebar mt-1 big-titles">
        <i class="far fa-address-book mr-3"></i> Contact Info
      </a>
      <div>
        <div class="row mt-4">
          <i class="far fa-envelope fa-lg circle py-3 px-3 mx-4" style="color: #ffffff;"></i>
          <input class='sidenav-input-item text-size px-3' placeholder="email here" type="text" [(ngModel)]="defaultEmail">
        </div>
      </div>
      <div>
        <div class="row mt-4">
          <i class="fas fa-phone-alt fa-lg circle py-3 px-3 mx-4" style="color: #ffffff;"></i>
          <input class='sidenav-input-item text-size px-3' placeholder="+216 99 999 999" type="text" [(ngModel)]="defaultNumber">
        </div>
      </div>

      <div>
        <div class="row mt-4">
          <i class="fas fa-map-marker-alt fa-lg circle py-3 px-3 mx-4" style="color: #ffffff !important;"></i>
          <input class='sidenav-input-item text-size px-3' placeholder="location ....." type="text" [(ngModel)]="defaultLocation">
        </div>
      </div>
    </li>
  </ul>
  <div class="text-center my-5">
    <button class="button-generic button-black text-size mr-2" [disabled]="testChange()" (click)="submit()">Save</button>
    <button class="button-generic button-black text-size">Reset</button>
  </div>
</div>
