<!-- Sidebar -->
<nav id="sidebar">
  <div class="sidebar-header">
    <h3 class="huge-titles text-center">Hackover</h3>
  </div>

  <ul class="list-unstyled components">
    <li class="sidenav-elem">
      <div class="my-4 py-3 px-1 back-button nav-link-sidebar text-size"><i class="fa fa-chevron-left"></i><span class="ml-3">Edit your store</span></div>
      <a class="nav-link-sidebar mt-1 big-titles">
        <i class="fa fa-share-alt mr-3"></i> Social Media
      </a>
      <p class="text-size">Lorem ipsum dolor sit amet!</p>
      <div class="row mt-3">
        <div class="col-3 text-center mt-1">
          <img src="../../../assets/images/facebook.png" alt="" class="img-social-media">
        </div>
        <div class="col-9 pl-0">
          <input type="text" class="text-size sidenav-input-item py-2 px-3 width" placeholder="facebook id">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3 text-center mt-1">
          <img src="../../../assets/images/instagram.png" alt="" class="img-social-media">
        </div>
        <div class="col-9 pl-0">
          <input type="text" class="text-size sidenav-input-item py-2 px-3 width" placeholder="facebook id">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3 text-center mt-1">
          <img src="../../../assets/images/linkedin.png" alt="" class="img-social-media">
        </div>
        <div class="col-9 pl-0">
          <input type="text" class="text-size sidenav-input-item py-2 px-3 width" placeholder="facebook id">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3 text-center mt-1">
          <img src="../../../assets/images/tik-tok.png" alt="" class="img-social-media">
        </div>
        <div class="col-9 pl-0">
          <input type="text" class="text-size sidenav-input-item py-2 px-3 width" placeholder="facebook id">
        </div>
      </div>

    </li>
  </ul>
  <div class="text-center my-5">
    <a class="button-generic button-black text-size">Reset</a>
  </div>
  <div class="container sidenav-footer">
    <div class="row">
      <div class="copyright-sidenav-footer col-8"> Copyright @ 2020 All Rights Reserved by Savvy</div>
      <span (click)="toggleS()" class="col-4">
        <i class="fa fa-toggle-on fa-3x " aria-hidden="true"></i>
      </span>
    </div>
  </div>

</nav>
<!--<nav id="sidebar-non-active" class="active">-->
<!--<ul class="list-unstyled text-size text-center">-->
<!--<li class=" mb-3">-->
<!--<a class="nav-link-sidebar">-->
<!--<i class="fa fa-palette"></i>-->
<!--</a>-->
<!--</li>-->
<!--<li class="sidenav-elem mb-3">-->
<!--<a class="nav-link-sidebar mt-1">-->
<!--<i class="fa fa-font"></i>-->
<!--</a>-->
<!--</li>-->
<!--<li class="sidenav-elem mb-3">-->
<!--<a class="nav-link-sidebar mt-1">-->
<!--<i class="fa fa-share-alt"></i>-->
<!--</a>-->
<!--</li>-->
<!--<li class="sidenav-elem mb-3">-->
<!--<a class="nav-link-sidebar mt-1">-->
<!--<i class="fa fa-align-left"></i>-->
<!--</a>-->
<!--</li>-->
<!--<li class="sidenav-elem mb-3">-->
<!--<a class="nav-link-sidebar mt-1">-->
<!--<i class="fa fa-phone" style="transform: rotate(90deg)"></i>-->
<!--</a>-->
<!--</li>-->
<!--<li class="sidenav-elem mb-3">-->
<!--<a class="nav-link-sidebar mt-1">-->
<!--<i class="fa fa-columns"></i>-->
<!--</a>-->
<!--</li>-->
<!--<li class="sidenav-elem mb-3">-->
<!--<a class="nav-link-sidebar mt-1">-->
<!--<i class="fa fa-backward"></i>-->
<!--</a>-->
<!--</li>-->

<!--</ul>-->
<!--<div class="container  ">-->
<!--<div class="row text-center">-->
<!--<span class="mx-auto" (click)="toggleS()">-->
<!--<i class="fa fa-toggle-off fa-3x " aria-hidden="true" ></i>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->

