<div id="wrap">

  <!--======= SUB BANNER =========-->
  <section class="sub-bnr" style="background-image: url('../../../assets/second-template/images/banners/products.jpg')" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h4>SHOPPING CART</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula.
          Sed feugiat, tellus vel tristique posuere, diam</p>
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">SHOP</a></li>
          <li class="active">SHOPPING CART</li>
        </ol>
      </div>
    </div>
  </section>

  <div id="content">
    <section class="shop-page padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="papular-block row">
          <h3 class="text-center pb-5 col-12">Products</h3>
          <div class="col-md-3">
            <app-one-product></app-one-product>
          </div>
          <div class="col-md-3">
            <app-one-product></app-one-product>
          </div>
          <div class="col-md-3">
            <app-one-product></app-one-product>
          </div>
          <div class="col-md-3">
            <app-one-product></app-one-product>
          </div>
          <div class="col-md-3">
            <app-one-product></app-one-product>
          </div>
          <div class="col-md-3">
            <app-one-product></app-one-product>
          </div>
          <div class="col-md-3">
            <app-one-product></app-one-product>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
