<div id="wrap">
  <div id="content">
    <section class="font shop-page padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="papular-block row">
          <h3 class="font text-center pb-5 col-12">Products</h3>
          <div *ngIf="loading" style="margin: auto; margin-top: 50px; justify-content: center; align-items: center;">
            <app-spinner></app-spinner>
          </div>
          <div *ngIf="!loading">
            <div *ngFor="let product of products" class="col-md-3">
              <!-- Item -->
              <div class="item">
                <!-- Item img -->
                <div class="item-img">
                  <div class="parent-image">
                    <img class="img-1" [src]="product.imgs[0]" alt="" >
                    <img class="img-2" [src]="product.imgs[1]?product.imgs[1]:product.imgs[0]"  style="top: auto" alt="" >
                  </div>

                  <!-- Overlay -->
                  <div class="overlay">
                    <div class="position-center-center">
                      <div>
                        <!-- to return to previous form add class inn-->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Item Name -->
                <div class="item-name"> <a [routerLink]="['../product-detail/' + product.id]">{{product.name}}</a>

                </div>
                <!-- Price -->
                <span class="price"><small>dt</small>{{product.price}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
