.upload-icon {
  color: var(--blue-color) !important;

}
.start-style {
  background-color: var(--blue-color) !important;
}

.img-login {
  margin-top: 35% !important;
  margin-bottom: 35% !important;
}
@media screen and (max-width: 990px){
  .img-login {
    max-width: 50%;
    margin: auto !important;
  }

}

.card-background-image {
  min-height: 70vh;
}
@media screen and (max-width: 991px){
  .card-background-image {
    min-height: auto;
  }
}
