img {
    border-radius: 9px;
}

.product {
    margin-left:  10%;
    margin-right: 10%;
}

.qte-number{
    border: 1px solid #ebeeee;
    cursor: pointer;
    text-align: center;
    width: 5vw;
    height: 12vh;
    display: inline-block;
}

span > div {
    margin-top: 50%;
}

.raise{
    width: 250px;
    height: 12vh;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: rgba(241, 202, 202, 0.74);
    float: right;
    margin-left: 5px;
    margin-top: 5px;
}

.active:after {
    content: "\2796"; 
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    /* background-color: white; */
    display: none;
    overflow: hidden;
}