<div class="my-5">
    <div class="row product">
        <div class='col-6'>
            <img class="row img-fluid" src="../../../assets/images/dress.jpg" alt="">
            <div class="row mx-auto my-5">
                <img class="row img-fluid col-2 mx-2" src="../../../assets/images/dress.jpg" alt="">
                <img class="row img-fluid col-2 mx-2" src="../../../assets/images/dress.jpg" alt="">
            </div>
        </div>
        <div class='col-6'>
            <div class="huge-titles-template mt-2" style="color: black;">
                Title here
            </div>
            <div class="big-titles-template mt-4">
                price here
            </div>
            <div class="row mt-2">
                <span class="qte-number">
                    <div>
                        <i class="fas fa-minus fa-2x"></i>
                    </div>
                </span>
                <span class="qte-number">
                    <div class="small-titles-template mt-5">
                        1
                    </div>
                </span>
                <span class="qte-number">
                    <div>
                        <i class="fas fa-plus fa-2x"></i>
                    </div>
                </span>
                <div class='ml-5'>
                    <button class="raise small-titles-template"> Add to cart! </button>
                </div>
            </div>

            <div class="row mt-5 text-size">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet explicabo, provident in fugit veritatis sapiente natus ducimus itaque magnam? Iste similique aut sed cum vitae quos, amet magnam eum dolor?
            </div>

            <div class="row mt-5">
                <button class="accordion small-titles-template" (click)="showSection($event)">Details</button>
                <div class="panel">
                    <p class='text-size'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae mollitia, consequatur itaque voluptate impedit repellendus rem molestias aut laborum dolores temporibus sed rerum porro perspiciatis beatae, hic voluptates, ex vel!</p>
                </div>
            </div>
            <div class="row">
                <button class="accordion small-titles-template" (click)="showSection($event)">Reviews</button>
                <div class="panel">
                    <p class='text-size'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae mollitia, consequatur itaque voluptate impedit repellendus rem molestias aut laborum dolores temporibus sed rerum porro perspiciatis beatae, hic voluptates, ex vel!</p>
                </div>
            </div>
        </div>
    </div>
</div>
