<app-header></app-header>
<div class="topp vivify fadeIn">
  <div class="overlay">
    <div class=" mx-auto mouse-scroll-wrapper my-5  fadeIn delay-100">
      <div id="mouse-scroll">
        <div class="mouse">
          <div class="mouse-in"></div>
        </div>
        <div>
          <span class="down-arrow-1"></span>
          <span class="down-arrow-2"></span>
          <span class="down-arrow-3"></span>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <div class="col-12  ">

        <a (click)="changeRoute()" class="button-generic button-white big-titles ">Get Started</a>
      </div>
    </div>

    <div class="row text-center">
      <span class="huge-titles font-weight-bold mx-auto mt-5">And live the Experience</span>
    </div>
  </div>
</div>

<div class="container mt-5 pt-5" id="aboutus">

    <div class="row my-5">
        <div class="col-lg-6 col-md-6 col-12">
            <!--     ***************   About us *************** -->
            <h3 class="text-front big-titles ml-2 vivify fadeIn ">
                About Us
                <span class="line-behind-text"></span>
            </h3>
            <div class="text-size mt-3 mb-5 vivify fadeIn ">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                duo dolores et ea rebum. Stet clita
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                duo dolores et ea rebum. Stet clita
            </div>

            <!--     ***************   How it works*************** -->
            <h3 class="text-front big-titles ml-2 mt-5 vivify fadeIn delay-150">
                How it works
                <span class="line-behind-text "></span>
            </h3>
            <div class="text-size mt-3 vivify fadeIn delay-150">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                duo dolores et ea rebum. Stet clita
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                duo dolores et ea rebum. Stet clita
            </div>
            <div class="text-size font-weight-bold color-dark-blue mt-4 vivify fadeIn delay-150">
                See
                <div class="text-front">
                    the video
                    <span class="line-behind-text ml-5 only-desktop"></span>
                </div>
                to learn more about how to get your free website
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12">
            <h1>
                Logo with animations
            </h1>
        </div>
    </div>
</div>

<div class="white-square only-desktop text-center  vivify fadeIn delay-150">
  <p class="text-front big-titles ml-2 text-services"> What you will find here ?</p>
</div>
<div class="blue-square " id='home'>

  <div class="container text-center">
    <p class="text-front big-titles ml-2 text-services other-show white-colored  "> What you will find here ?</p>
    <div class="row mx-auto col-12">
      <div class="px-5 col-lg-4 vivify flipInY ">
        <div class=" card-background card-background-home">
          <div class="text-size card-home-title  my-3 color-blue ">Jawher bhim</div>
          <p class="text-size">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>

        </div>
      </div>

      <div class="px-5 col-lg-4 col-12 vivify flipInY delay-150">
        <div class=" card-background card-background-home">
          <div class="text-size card-home-title  my-3 color-blue ">Jawher bhim</div>
          <p class="text-size">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>

        </div>
      </div>

      <div class="px-5 col-lg-4 col-12 vivify flipInY delay-300">
        <div class=" card-background card-background-home">
          <div class="text-size card-home-title  my-3 color-blue ">Jawher bhim</div>
          <p class="text-size">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua.
          </p>

        </div>
      </div>
    </div>
    <div class="mt-5">
      <p class="text-front big-titles ml-2 text-services white-colored mt-5 vivify fadeIn"> Thrilled to know more about us ?</p>
      <div>
        <a (click)="changeRoute()" class="button-generic button-white big-titles mt-5 vivify fadeIn">Get Started</a>
      </div>
    </div>
  </div>
</div>

<div>
  <hr>
  <div class="line-divider mx-auto"></div>
</div>

<app-pricing id='pricing'></app-pricing>

<div>
  <hr>
  <div class="line-divider mx-auto vivify fadeIn"></div>
</div>

<div class="container mt-4">
  <h3 class="text-front big-titles ml-2 mt-5  vivify fadeIn">
    How it works
    <span class="line-behind-text"></span>
  </h3>
  <ul class="timeline ">
    <li class="timeline vivify fadeIn delay-150">
      <div class="icon ">
        <i class="fa fa-bullseye" aria-hidden="true"></i>
      </div>
      <details class="panel ">
        <summary class="small-titles">The Miracle of Birth</summary>
        <p><strong>Patient:</strong> Is it a boy or a girl?<br><br>
          <strong>Obstetrician:</strong> Now, I think it's a little early to start imposing roles on it, don't you? Now, a word of advice. You may find that you suffer for some time a totally irrational feeling of depression. PND is what we doctors call it. So it's lots of happy pills for you, and you can find out all about the birth when you get home. It's available on Betamax, VHS, and Super 8.</p>
      </details>
    </li>

    <li class="timeline vivify fadeIn delay-300">
      <div class="icon">
        <i class="fa fa-bullseye" aria-hidden="true"></i>

      </div>
      <details class="panel">
        <summary class="small-titles">Growth and Learning</summary>
        <p>And spotteth twice they the camels before the third hour. And so the Midianites went forth to Ram Gilead in Kadesh Bilgemath by Shor Ethra Regalion, to the house of Gash-Bil-Betheul-Bazda, he who brought the butter dish to Balshazar and the tent peg to the house of Rashomon, and there slew they the goats, yea, and placed they the bits in little pots. Here endeth the lesson.</p>
      </details>
    </li>

    <li class="timeline vivify fadeIn delay-450">
      <div class="icon">
        <i class="fa fa-bullseye" aria-hidden="true"></i>

      </div>
      <details class="panel">
        <summary class="small-titles">Fighting Each Other</summary>
        <p>Here is better than home, eh, sir? I mean, at home if you kill someone they arrest you — here they'll give you a gun and show you what to do, sir. I mean, I killed fifteen of those buggers. Now, at home they'd hang me — here they'll give me a fucking medal, sir!</p>
      </details>
    </li>

  </ul>
</div>


<div class="container mt-5"  id='contactus'>
    <div class="row">
        <div class=" col-lg-6 col-12" >
            <h3 class="text-front big-titles ml-2  vivify fadeIn">
                Contact Us
                <span class="line-behind-text"></span>
            </h3>
            <div class="text-size mt-3  vivify fadeIn delay-150">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                duo dolores et ea rebum. Stet clita
                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
                duo dolores et ea rebum. Stet clita
            </div>
            <div class="row vivify fadeIn delay-150">
                <i class="fas fa-envelope fa-3x circle-icon mt-3 ml-5"></i>
                <span class="small-titles my-auto ml-5" >exemple@gmail.com</span>
            </div>

            <div class="row vivify fadeIn delay-150">
                <i class="fas fa-phone-alt fa-3x circle-icon mt-3 ml-5"></i>
                <span class="small-titles my-auto ml-5" >+216 55 555 555</span>
            </div>
            <a href="#" class="button-generic button-blue big-titles vivify fadeIn delay-150 ">Meet us on messenger</a>
            <div class="row vivify fadeIn delay-150">
                <i class="fab fa-facebook-f fa-3x circle-icon mt-3 ml-5"></i>
                <i class="fab fa-twitter fa-3x circle-icon mt-3 ml-5"></i>
                <i class="fab fa-linkedin-in fa-3x circle-icon mt-3 ml-5"></i>
                <i class="fab fa-instagram fa-3x circle-icon mt-3 ml-5"></i>
            </div>
        </div>

        <div class="col-lg-6 col-12 mt-5 vivify pullUp delay-150">
            <img src="../../assets/images/contact.svg" alt="" class="img-fluid mx-auto d-flex contact-image">
        </div>

    </div>
</div>

<footer class="blue-footer">
    <div class="upper-footer">
        <div>
            <a (click)="changeRoute()" class="button-generic button-white big-titles vivify popIn delay-150">Get Started</a>
        </div>
        <div class="upper-footer-text container vivify fadeIn delay-150">
            <h4 class="huge-titles">Grab your Free E-commerce Website</h4>
        </div>
    </div>
    <div class="container vivify fadeIn delay-300">
        <div class="row">
            <div class="col-6">
                <h6 class="footer-copyright text-size">Copyright @ 2020 All Rights Reserved by WebiPie</h6>

            </div>
            <div class="col-6">
                <div class="footer-social-media mb-5">
                    <i class="fab fa-facebook-f fa-2x circle-icon-footer mt-3 ml-2"></i>
                    <i class="fab fa-twitter fa-2x circle-icon-footer mt-3 ml-2"></i>
                    <i class="fab fa-linkedin-in fa-2x circle-icon-footer mt-3 ml-2"></i>
                    <i class="fab fa-instagram fa-2x circle-icon-footer mt-3 ml-2"></i>
                </div>

            </div>
        </div>
    </div>
</footer>

