/* ***************** SideNav ****************** */

.wrapper {
  /*display: flex;*/
  align-items: stretch;
  margin-right: 7%;
}

.sidenav-next {
  transition: all 0.3s;
  margin-left: 80px;
  z-index: 1;
}

.sidebar-next {
  transition: all 0.3s;
  margin-left: 250px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .sidebar-next {
    transition: all 0.3s ease-in-out;
    width: 70%;
    margin: auto;
  }
}

.dashboard-content-wrapper {
  margin-left: 250px;
  transition: 0.3s all;
}

.dashboard-content-wrapper-active {
  margin-left: 80px;
  transition: 0.3s all;

}
