<div class="wrapper">
    <!--<app-side-nav ></app-side-nav>-->
    <div class="d-flex">
      <div class="col-lg-2 col-md-2 col-sm-2 dashboard-sidenav">
        <app-side-nav [toggleS] = "toggleS"></app-side-nav>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-12 margin-on-mobile px-5 dashboard-medium-lg" style="padding-right: 23px; padding-left: 0px;">
        <div id="sidebar-next" style="margin-top: -10px">
          <app-header></app-header>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
</div>
