* {
  outline: none !important;
}

/*Root font size */
:root {
  font-size: 10px;
}

/* width */
body::-webkit-scrollbar {
  width: 5px !important;
}

/* Track */
body::-webkit-scrollbar-track {
  background: transparent !important;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #d9d9d9 !important;
  border-radius: 50px !important;
}

/* ***************** Global Variables ****************** */
body {
  --huge-titles-desktop: 3.5rem;
  --huge-titles-tablet: 2.7rem;
  --huge-titles-mobile: 1.7rem;

  --big-titles-desktop: 2.4rem;
  --small-titles-desktop: 2rem;
  --text-desktop: 1.7rem;

  --big-titles-tablet: 1.9rem;
  --small-titles-tablet: 1.7rem;
  --text-tablet: 1.4rem;

  --big-titles-mobile: 1.7rem;
  --small-titles-mobile: 1.5rem;
  --text-mobile: 1.2rem;

  --blue-color: #2265B2;
  --dark-blue-color: #0D2168;
  --white-color: #F8F8F8;
  --black-color: #2C2C2C;
  --light-black-color: #2D3438;

  /* ***************** General Font ****************** */

  font-family: 'Work Sans', sans-serif !important;
  font-weight: normal;
  font-style: normal;

  transition: all 200ms linear;

  background: var(--white-color) !important;

}

/* ***************** Font size on desktop screen ****************** */

.huge-titles {
  font-size: var(--huge-titles-desktop) !important;
  color: white;
}

.big-titles {
  font-size: var(--big-titles-desktop) !important;
  font-weight: 700;
}

.small-titles {
  font-size: var(--small-titles-desktop) !important;
  font-weight: 600;
}

.text-size {
  font-size: var(--text-desktop) !important;
}

/* ***************** Font size on tablet screen ****************** */
@media screen and (max-width: 1024px) {
  .huge-titles {
    font-size: var(--huge-titles-tablet) !important;
  }

  .big-titles {
    font-size: var(--big-titles-tablet) !important;
  }

  .small-titles {
    font-size: var(--small-titles-tablet) !important;
  }

  .text-size {
    font-size: var(--text-tablet) !important;
  }
}

/* ***************** Font size on mobile screen ****************** */
@media screen and (max-width: 768px) {
  .huge-titles {
    font-size: var(--huge-titles-mobile) !important;
  }

  .big-titles {
    font-size: var(--big-titles-mobile) !important;
  }

  .small-titles {
    font-size: var(--small-titles-mobile) !important;
  }

  .text-size {
    font-size: var(--text-mobile) !important;
  }
}

.only-mobile {
  display: none !important;
}


@media screen and (max-width: 576px) {
  .only-mobile {
    display: block !important;
  }
  .only-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 990px){
  .only-desktop {
    display: none !important;
  }
}
hr {
  margin-top: 40px !important;
  margin-bottom: -5px !important;
  border: 0;
  clear:both;
  display:block;
  width: 72%;
  background-color: var(--black-color);
  height: 2px;
}


.color-dark-blue {
  color: var(--dark-blue-color);
}

.color-blue {
  color: var(--blue-color);
}

.color-blue-header {
  background-color: var(--blue-color);
}

.color-black {
  color: var(--black-color);
}

.color-light-black {
  color: var(--light-black-color);
}



@media screen and (max-width: 768px){
  .fa-2x {
    font-size: 1.2em !important;
  }
}

.text-front {
  position: relative;
  display: inline;
  z-index: 99;
}



/****** Buttons *********/

.button-generic {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 2px 15px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.button-generic:hover {
  cursor: pointer;
  text-decoration: none;
}


.button-white {
  background-color: var(--white-color);
  color: var(--dark-blue-color) !important;
  font-weight: 600;
}

.button-border-white {
  background-color:  transparent;
  color: #ffffff !important;
  border: 2px white solid;
  font-weight: 600;
  opacity: 0.8;
}

.button-white:hover {
  background-color: var(--dark-blue-color);
  color: var(--white-color) !important;
}
.button-blue {
  background-color: var(--blue-color);
  color: var(--white-color) !important;
  font-weight: 600;
  margin: 25px 0 25px 0;
}

.button-blue:hover {
  background-color: var(--dark-blue-color);
  color: var(--white-color) !important;
}

.button-white-border-blue {
  box-shadow: none !important;
  background-color: var(--white-color);
  color: var(--blue-color) !important;
  border: solid 2px var(--blue-color) !important;
}

.button-white-border-blue:hover {
  background-color: var(--blue-color);
  color: var(--white-color) !important;
}

.button-dark-blue {
  background-color: var(--dark-blue-color);
  color: var(--white-color) !important;
}

.button-dark-blue:hover {
  background-color: var(--white-color);
  color: var(--dark-blue-color) !important;
}

.button-black {
  background-color: var(--light-black-color);
  border: solid 2px var(--white-color) !important;
  color: var(--white-color) !important;
  box-shadow: none !important;
  font-weight: 500;
}

.button-black:hover {
  color: var(--light-black-color) !important;
  background-color: var(--white-color);
}

/* end Buttons */
.sidenav-input-item:focus {
  box-shadow: 0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.8);
  border-color: #a1cae2 !important;
}
.label-input-edit {
  font-weight: 600;
  padding: 5px 15px;
}
