#sidebar-color ul p, #sidebar-color-non-active ul p {
  color: #fff;
  padding: 10px;
  padding-bottom: 0 !important;
}

#sidebar-color ul li a {
  padding: 10px 10px 10px 35px;
  display: block;
}

#sidebar-color-non-active ul li a {
  padding: 20px;
  display: block;
}

#sidebar-color ul li a:hover, #sidebar-color-non-active ul li a:hover, .back-button:hover {
  color: var(--white-color);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

#sidebar-color ul li.active > a, a[aria-expanded="true"], #sidebar-color-non-active ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: var(--light-black-color);
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.nav-link-sidebar {
  text-decoration: none !important;
  color: white;
  transition: all 200ms linear;
  margin-top: -5px
}

.child-elem {
  padding-left: 60px !important;
}

.sidenav-elem {
  width: 90%;
  margin: auto;
  border-top: solid 2px var(--white-color);;
}


/****************************/

.circle {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid #dadada;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.button-white-color {
  background-color: var(--white-color);
  color: var(--dark-blue-color) !important;
  font-weight: 600;
}

.button-white-color:hover, .button-white-color:focus {
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}
