<a data-toggle="modal" (click)="open(content)" data-target="#order-detail-modal-{{rowData._id[rowData._id.length-1]}}"
><i class="fa icon-edit fa-edit ml-2 fa-lg"></i></a>


<ng-template #content let-modal class="order-detail-modal">
  <div class="modal-header">
    <h5 class="modal-title my-auto" id="exampleModalLabel">Order ID: {{rowData._id}} </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="close-x">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      <div class="col-6">
        <p class="small-titles">Orderer: </p>
        <p class="text-size">Shadi Hammami</p>
      </div>
      <div class="col-6">
        <p class="small-titles">Date: </p>
        <p class="text-size">15/02/2020</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <p class="small-titles">Change Status: </p>
        <div>
          <select class="select text-size py-2 pl-2" name="cars" id="cars">
            <option value="volvo">Shipped</option>
            <option value="saab">Canceled</option>
            <option value="mercedes">Pending</option>
            <option value="audi">On Review</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <p class="small-titles">Total Price: </p>
        <p class="big-titles color-blue">22.500dt</p>
      </div>
    </div>
    <div class="text-center big-titles my-3 pt-3 mx-auto border-top">List Of Products</div>
    <div class="row my-3 mx-auto">
      <div class="col-6">
        <p class='small-titles text-center'>Product</p>
      </div>
      <div class="col-3 small-titles">Quantity</div>
      <div class="col-3 small-titles my-auto">Unit Price</div>
    </div>
    <div class="row mx-auto text-size border-bottom pb-3 mt-3">
      <div class="col-6">
        <div class='row'>
          <a type="button">
            <span class="close-x huge-titles">&times;</span>
          </a>
          <img class='product-image-table img-fluid ml-3 mr-3' src='../../../../../assets/images/dress.jpg'>
          <p class='my-auto text-center'>Leanne Graham</p>
        </div>
      </div>
      <div class="col-3 my-auto">
        <input type="number" class="change-quantity" value="3">
      </div>
      <div class="col-3 my-auto">25</div>
    </div>
    <div class="row mx-auto text-size border-bottom pb-3 mt-3">
      <div class="col-6">
        <div class='row'>
          <a type="button">
            <span class="close-x huge-titles">&times;</span>
          </a>
          <img class='product-image-table img-fluid ml-3 mr-3' src='../../../../../assets/images/dress.jpg'>
          <p class='my-auto text-center'>Leanne Graham</p>
        </div>
      </div>
      <div class="col-3 my-auto">
        <input type="number" class="change-quantity" value="3">
      </div>
      <div class="col-3 my-auto">25</div>
    </div>
    <div class="row mx-auto text-size border-bottom pb-3 mt-3">
      <div class="col-6">
        <div class='row'>
          <a type="button">
            <span class="close-x huge-titles">&times;</span>
          </a>
          <img class='product-image-table img-fluid ml-3 mr-3' src='../../../../../assets/images/dress.jpg'>
          <p class='my-auto text-center'>Leanne Graham</p>
        </div>
      </div>
      <div class="col-3 my-auto">
        <input type="number" class="change-quantity" value="3">
      </div>
      <div class="col-3 my-auto">25</div>
    </div>
    <div class="row mx-auto text-size border-bottom pb-3 mt-3">
      <div class="col-6">
        <div class='row'>
          <a type="button">
            <span class="close-x huge-titles">&times;</span>
          </a>
          <img class='product-image-table img-fluid ml-3 mr-3' src='../../../../../assets/images/dress.jpg'>
          <p class='my-auto text-center'>Leanne Graham</p>
        </div>
      </div>
      <div class="col-3 my-auto">
        <input type="number" class="change-quantity" value="3">
      </div>
      <div class="col-3 my-auto">25</div>
    </div>
    <div class="row mx-auto text-size border-bottom pb-3 mt-3">
      <div class="col-6">
        <div class='row'>
          <a type="button">
            <span class="close-x huge-titles">&times;</span>
          </a>
          <img class='product-image-table img-fluid ml-3 mr-3' src='../../../../../assets/images/dress.jpg'>
          <p class='my-auto text-center'>Leanne Graham</p>
        </div>
      </div>
      <div class="col-3 my-auto">
        <input type="number" class="change-quantity" value="3">
      </div>
      <div class="col-3 my-auto">25</div>
    </div>


    <div class="mt-3">
      <div>
        <a class="button-generic button-edit mr-2 py-2 text-size"><i id="save-icon" class="fa fa-check"></i> Save</a>
        <a class="button-generic button-cancel py-2 text-size"><i id="backward-icon" class="fa fa-backward"></i> Cancel</a>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="text-size button-generic button-white-border-blue" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

