<!--     ***************   Pricing *************** -->
<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
            <div class="text-front big-titles">
                Pricing
                <span class="line-behind-text"></span>
            </div>
        </div>
        <!--BLOCK ROW START-->
        <div class="row col-12">
            <div class=" col-lg-4 col-md-4 elem">
                <!--PRICE CONTENT START-->
                <div class="generic_content clearfix payment-section">

                    <!--HEAD PRICE DETAIL START-->
                    <div class="generic_head_price clearfix">

                        <!--HEAD CONTENT START-->
                        <div class="generic_head_content clearfix">

                            <!--HEAD START-->
                            <div class="head_bg"></div>
                            <div class="head big-titles ">
                                <span>Basic Pack</span>
                            </div>
                            <!--//HEAD END-->

                        </div>
                        <!--//HEAD CONTENT END-->

                        <!--PRICE START-->
                        <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">99</span>
                                    <span class="cent">.99</span>
                                    <span class="month">/MON</span>
                                </span>
                        </div>
                        <!--//PRICE END-->

                    </div>
                    <!--//HEAD PRICE DETAIL END-->

                    <!--FEATURE LIST START-->
                    <div class="generic_feature_list">
                        <ul>
                            <li><span>2GB</span> Bandwidth</li>
                            <li><span>150GB</span> Storage</li>
                            <li><span>12</span> Accounts</li>
                            <li><span>7</span> Host Domain</li>
                            <li><span>24/7</span> Support</li>
                        </ul>
                    </div>
                    <!--//FEATURE LIST END-->

                    <!--BUTTON START-->
                    <div class="pricing-button">
                        <a class="button-generic button-blue small-titles" href="">Get Started</a>
                    </div>
                    <!--//BUTTON END-->
                </div>
                <!--//PRICE CONTENT END-->
            </div>
            <div class=" col-lg-4 col-md-4 elem middle-pricing">
                <!--PRICE CONTENT START-->
                <div class="generic_content clearfix payment-section">

                    <!--HEAD PRICE DETAIL START-->
                    <div class="generic_head_price clearfix">

                        <!--HEAD CONTENT START-->
                        <div class="generic_head_content clearfix">

                            <!--HEAD START-->
                            <div class="head_bg"></div>
                            <div class="head big-titles">
                                <span>Premium Pack</span>
                            </div>
                            <!--//HEAD END-->

                        </div>
                        <!--//HEAD CONTENT END-->

                        <!--PRICE START-->
                        <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency big-titles">99</span>
                                    <span class="cent">.99</span>
                                    <span class="month">/MON</span>
                                </span>
                        </div>
                        <!--//PRICE END-->

                    </div>
                    <!--//HEAD PRICE DETAIL END-->

                    <!--FEATURE LIST START-->
                    <div class="generic_feature_list">
                        <ul>
                            <li><span>2GB</span> Bandwidth</li>
                            <li><span>150GB</span> Storage</li>
                            <li><span>12</span> Accounts</li>
                            <li><span>7</span> Host Domain</li>
                            <li><span>24/7</span> Support</li>
                        </ul>
                    </div>
                    <!--//FEATURE LIST END-->

                    <!--BUTTON START-->
                    <div class="pricing-button">
                        <a class="button-generic button-blue small-titles mb-3" href="">Get Started</a>
                    </div>
                    <!--//BUTTON END-->
                </div>
                <!--//PRICE CONTENT END-->
            </div>
            <div class=" col-lg-4 col-md-4 elem">
                <!--PRICE CONTENT START-->
                <div class="generic_content clearfix payment-section">

                    <!--HEAD PRICE DETAIL START-->
                    <div class="generic_head_price clearfix">

                        <!--HEAD CONTENT START-->
                        <div class="generic_head_content clearfix">

                            <!--HEAD START-->
                            <div class="head_bg"></div>
                            <div class="head big-titles">
                                <span>Standard Pack</span>
                            </div>
                            <!--//HEAD END-->

                        </div>
                        <!--//HEAD CONTENT END-->

                        <!--PRICE START-->
                        <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign small-titles">$</span>
                                    <span class="currency big-titles">99</span>
                                    <span class="cent small-titles">.99</span>
                                    <span class="month small-titles">/MON</span>
                                </span>
                        </div>
                        <!--//PRICE END-->

                    </div>
                    <!--//HEAD PRICE DETAIL END-->

                    <!--FEATURE LIST START-->
                    <div class="generic_feature_list">
                        <ul>
                            <li class="small-titles"><span>2GB</span> Bandwidth</li>
                            <li class="small-titles"><span>150GB</span> Storage</li>
                            <li class="small-titles"><span>12</span> Accounts</li>
                            <li class="small-titles"><span>7</span> Host Domain</li>
                            <li class="small-titles"><span>24/7</span> Support</li>
                        </ul>
                    </div>
                    <!--//FEATURE LIST END-->
                    <!--BUTTON START-->
                    <div class="pricing-button">
                        <a class="button-generic button-blue small-titles mb-3" href="">Get Started</a>
                    </div>
                    <!--//BUTTON END-->
                </div>
                <!--//PRICE CONTENT END-->
            </div>
        </div>
        <!--//BLOCK ROW END-->

    </div>
</div>