/*********** Sales Page *************/

.margin-top {
    margin-top: 60px;
}

.sale-element {
  width: 90%;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    min-height: 480px;
}
@media screen and (max-width: 1024px){
  .clients-image {
    margin-top: 35%;
  }
}

@media screen and (max-width: 768px){
  .clients-image {
    margin-top: 0;
  }
}

.img-sales {
  height: 190px;
  width: auto;
}

@media screen and (max-width: 850px){
  .img-sales {
    height: 150px;
  }
  .sale-element {
    width: auto;
    min-height: auto;
  }
}
