<!-- Sales -->
<div class="mx-auto">
  <div class="sales-header mt-5">
    <h1 class="big-titles text-center">Sales</h1>
    <p class="text-size text-center">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
      Lorem ipsum dolor sit amet
      Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
  </div>
  <div class="row margin-top mb-5">
    <div class="col-md-6 col-12 mb-5">
      <div class="sale-element text-center pt-4 pb-0 container">
        <p class="big-titles pb-2 color-blue">Clients</p>
        <p class="text-size color-light-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolor,
          eum eveniet exercitationem incidunt ipsum molestiastatibus.</p>
        <div>
          <img class=" img-fluid mb-3 container" src="../../../assets/images/clients.png"
               style="height: 190px; width: auto">
        </div>
        <a [routerLink]="['clients']" class="button-generic button-blue small-titles">Manage Clients</a>
      </div>
    </div>
    <div class="col-md-6 col-12 mb-5">
      <div class="sale-element text-center pt-4 pb-0 container">
        <p class="big-titles pb-2 color-blue">Orders</p>
        <p class="text-size color-light-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolor,
          eum eveniet exercitationem incidunt ipsum molestiastatibus.</p>
        <img class=" img-fluid mb-3 container" src="../../../assets/images/orders.svg"
             style="height: 190px;">
        <a [routerLink]="['orders']" class="button-generic button-blue small-titles">Manage Orders</a>
      </div>
    </div>
  </div>
</div>

