.top-content {
  position: relative;
}

.templates-heading {
  position: relative;
  margin-top: 100px;
  text-align: center;
}

.line-behind-big-text {
  background-color: rgba(34, 101, 178, 0.4);
  border-radius: 6px;
  display: block;
  height: 1rem;
  width: 110%;
  margin-top: -2px;
  padding: 0 10px 10px 10px;
  z-index: -1;
  position: absolute;
  left: 1px;
  bottom: 5px;
}

.paragraph {
  margin-top: 25px;
}
.second-paragraph {
  margin-top: -10px !important;
}

.templates-heading a {
  margin-top: 10px;
}

/* ***************** Template Page on tablet screen ****************** */
@media screen and (max-width: 1024px) {
  .paragraph {
    margin-top: 20px;
  }
  .templates-heading a {
    margin-top: 15px;
  }
}

/* ***************** Template Page on mobile screen ****************** */
@media screen and (max-width: 768px) {
  .paragraph {
    margin-top: 15px;
  }
  .templates-heading a {
    margin-top: 10px;
  }
}

.templates-list {
  margin-top: 55px;
}

.template-content {
  text-align: center;
}

.template-buttons a.button-blue {
  padding: 5px 27px;
}

.template-img {
  background-size: cover;
  width: 450px;
  height: 300px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer-elsewhere {
  border-top: solid 2px var(--white-color);
  height: 75px;
}

.navbar-dropdown {
  position: fixed;
  left: 0;
  top: 1%;
  background-color: var(--blue-color);
  width: 100%;
}

.coming-soon {
  background: rgba(1, 1, 1, 0.5);
}

.disabled-cursor {
  cursor: not-allowed;
}
