@media(min-width:992px) and (max-width:1199px) {
header .logo:after {
	right: -100px;
}
header .search-nav ul.dropdown {
	width: 100% !important;
}
header .navbar li {
	margin: 0 15px;
}
}
@media(min-width:768px) and (max-width:991px) {
.top-right ul li {
	float: left;
	display: inline-block;
	margin-left: 10px;
	padding-right: 10px;
}
.ownmenu ul.dropdown, .ownmenu ul.dropdown li ul.dropdown {
	width: 250px !important;
}
.ownmenu ul.dropdown, .ownmenu ul.dropdown li ul.dropdown {
	padding: 20px;
}
header .ownmenu ul.dropdown {
	padding: 0px;
}
.heading {
	width: 100%;
}
footer h4 {
	display: inline-block;
	width: 100%;
	margin: 50px 0;
	margin-bottom: 20px;
}
header .search-nav ul.dropdown {
	width: 100% !important;
}
header .ownmenu .look-book .nav-img {
	width: 70px;
	margin-right: 10px;
}
header .ownmenu .look-book .media-heading {
	margin-top: 0px;
	margin-bottom: 10px;
}
header .ownmenu li > .megamenu li a {
	padding: 5px 0
}
header .ownmenu > li > .megamenu.full-width {
	padding: 30px;
}
header .ownmenu .look-book .media-body a {
	padding: 5px 0 0 0px;
}
header .ownmenu > li > .megamenu.full-width .nav-post .col-sm-3 {
	width: 50%;
}
header .ownmenu .megamenu h6 {
	margin-top: 20px;
}
header .ownmenu ul.dropdown li a {
	letter-spacing: 1px;
}
.media.padding-right-100 {
	padding-right: 0px !important;
}
.tab-pane.text-right {
	text-align: center;
}
header {
	padding: 0px;
}
header .logo {
	width: 100%;
	margin: 0px;
	padding: 15px 0px;
	text-align: center;
	border: none;
}
header .navbar {
	width: 100%;
}
header .quotes a {
	margin-right: 0px;
}
header .logo a {
	margin-top: 0px;
}
header .logo {
	height: auto;
	overflow: hidden;
}
header .logo:before {
	width: 100%;
	left: 100%;
}
header .logo:after {
	right: 0px;
}
.sub-bnr .position-center-center {
	width: 100%;
}
footer h5 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}
footer .text-post {
	float: left;
	width: auto;
	margin-left: 20px;
}
footer .subcribe {
	margin-bottom: 0px;
}
footer h6 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}
.cd-nav-trigger{
	left:20px;
}
}
@media(max-width:767px) {
footer h5 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}
.cd-nav-trigger{
	left:20px;
}
.navbar-toggle {
	margin: 0px;
	margin-right: 5px;
}
header .navbar li.active a:before {
	bottom: 0px;
	top: auto;
}
.navbar-toggle .icon-bar {
	height: 40px;
	width: 40px;
	border: 1px solid rgba(0,0,0,0.1);
	display: inline-block;
	padding: 10px;
	margin: 0px;
	border-radius: 4px;
	margin: 0px;
	line-height: 18px;
}
.news-letter form {
	text-align: center;
}
.news-letter form input {
	width: 100%;
}
.news-letter form button {
	width: 150px;
	float: none;
	margin: 0 auto;
	margin-top: 10px;
}
header .is-sticky .sticky .nav .dropdown-menu {
	margin-top: 0px;
}
.ownmenu .dropdown.megamenu .dropdown-menu h6 {
	margin-top: 30px;
	display: inline-block;
	width: 100%;
}
.ownmenu .dropdown.megamenu .dropdown-menu h5 {
	margin-top: 30px;
	display: inline-block;
	width: 100%;
}
.ownmenu .dropdown.megamenu .dropdown-menu .nav-img {
	opacity: 0.5;
	margin: 0px;
	bottom: 0px;
}
.ownmenu .dropdown.megamenu .dropdown-menu {
	padding: 0 30px;
	padding-bottom: 30px;
}
header .navbar .nav {
	max-height: 400px;
	overflow-y: scroll;
	margin-top: 20px;
}
header .user-basket .dropdown-menu {
	margin-top: 10px;
}
header .navbar .nav li.dropdown:before {
	content: "\f105";
	position: absolute;
	right: 10px;
	font-family: 'FontAwesome';
	line-height: 48px;
	z-index: 2;
}
.nav-right .dropdown-menu {
	right: 0px;
	left: auto;
}
header .navbar {
	min-height: inherit;
}
.sub-bnr .position-center-center {
	width: 100%;
}
.media.padding-right-100 {
	padding-right: 0px !important;
}
header .quotes {
	width: 100%;
}
header .quotes a {
	width: 100%;
	height: 50px;
	line-height: 50px;
}
header .navbar li {
	margin: 0px;
}
.sub-bnr h4 {
	margin-top: 0px;
}
.sub-bnr {
	min-height: 350px
}
footer .text-post {
	float: left;
	width: auto;
	margin-left: 20px;
}
.heading span {
	width: 100%;
}
.ownmenu {
	width: 100%;
}
.ownmenu > li.showhide span.icon {
	padding: 0px;
	margin: 0px;
}
header .logo:after {
	height: 120px;
	right: 0px;
}
header .logo {
	margin: 0px;
	padding: 10px 0;
}
header .ownmenu:before {
	display: none;
}
header .ownmenu:after {
	display: none;
}
header .logo a {
	margin-top: 0px;
}
.is-sticky .sticky {
	position: relative !important;
}
header .logo {
	position: relative;
	width: 100%;
	text-align: center;
}
header nav {
	float: none;
	width: 100%;
}
header nav .ownmenu .indicator {
	display: block;
}
header nav li a {
	display: inline-block;
	width: 100%;
	float: none;
}
.ownmenu > li.showhide span {
	line-height: 50px;
	display: inline-block;
	width: 100%;
}
.ownmenu > li.showhide {
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.ownmenu > li.showhide span.title {
	margin: 0px;
}
.ownmenu > li > a {
	padding: 10px 0;
	text-align: left;
}
.ownmenu .indicator {
	display: block;
}
header .social {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}
.heading {
	width: 100%;
}
footer h4 {
	display: inline-block;
	width: 100%;
	margin: 50px 0;
	margin-bottom: 20px;
}
.footer-works>.col-md-3 {
	float: left;
	width: 33.3333%;
	margin: 0px;
	padding: 10px;
}
header {
	padding: 10px 0px;
}
header .logo {
	width: auto;
	padding: 0px 0px;
	text-align: center;
	border: none;
}
.ownmenu > li.showhide {
	position: absolute;
	right: 0px;
	top: -50px;
	width: auto;
	padding: 0 20px;
	background: rgba(0,0,0,0.5);
	text-align: right;
}
header .navbar {
	width: 100%;
}
.navbar-toggle {
	display: inline-block;
	position: absolute;
	top: -3px;
	right: 15px;
	padding: 0px;
	margin: 0px;
}
header .navbar li a:before {
	top: auto;
	bottom: 0px;
}
header .navbar-collapse {
	width: 100%;
	margin: 0px;
}
header .container {
	padding: 0 15px;
}
header .navbar .nav .dropdown-menu {
	position: relative;
}
.ownmenu .nav .dropdown-menu {
	margin-top: 0px;
	min-width: 100%;
	background: rgba(0,0,0,0.1);
}
header .navbar .nav li {
	width: 100%;
	text-align: left;
}
header .navbar .nav {
	width: 100%;
}
header .quotes a {
	margin-right: 0px;
	margin-bottom: 20px;
}
.heading p {
	width: 100%;
}
footer .subcribe {
	margin-bottom: 0px;
}
footer h6 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}
}
@media(max-width:540px) {
header .logo {
	width: 100%;
}
.nav-right {
	position: absolute;
	top: 40px;
	left: 0px;
	float: left;
}
.nav-right .dropdown-menu {
	right: auto;
	left: 0px;
}
.navbar-toggle {
	position: relative;
	right: 0px;
	margin-top: 10px;
  top: auto;
}
header .user-basket .dropdown-menu {
	margin-top: 4px;
}
header .sticky {
	padding: 0px;
}
}
@media(max-width:440px) {
header .user-basket .dropdown-menu{
	width:100%;
}
header .user-basket .dropdown-menu{
	min-width:300px;
}
}
